{% include "publisher_header.html" %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="https://s3.amazonaws.com/uploads.siresources.in/cdn/js/jqueryalerts/jquery.alerts.js" type="text/javascript"></script>
    <link href="https://s3.amazonaws.com/uploads.siresources.in/cdn/js/jqueryalerts/jquery.alerts.css" rel="stylesheet" type="text/css" media="screen" />


     <!-- <link href="https://s3.amazonaws.com/uploads.siresources.in/cdn/js/tablecloth/tablecloth.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="https://s3.amazonaws.com/uploads.siresources.in/cdn/js/tablecloth/tablecloth.js"></script>
    <link href="https://s3.amazonaws.com/uploads.siresources.in/cdn/js/colorbox/colorbox.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="https://s3.amazonaws.com/uploads.siresources.in/cdn/js/colorbox/jquery.colorbox-min.js" type="text/javascript"></script> 


    <script type="text/javascript">
        $(document).ready(function() {
            $("a[rel='popup_link']").colorbox({width:"80%", height:"85%", iframe:true});
            $("#load_more_questions").hide();
        });
    </script>-->

    <script type="text/javascript">
        function state_changed(option)
        {
            if (option == 0)
            {
                return;
            }
            $.ajax({
                type    : 'GET',
                url     : '/state/ajax/exam/',
                cache   : false,
                data    : "state=" + option,
                success : function(data,textStatus)
                {
                    $("#exam").html(data);
                },
                error   : function(data,textStatus){alert("Error connecting to Siresources Servers. Please check your internet connection and try again.");}
            });
        }
        function exam_changed(option)
        {
            if (option == 0)
            {
                return;
            }
            $.ajax({
                type    : 'GET',
                url     : '/exam/ajax/subject/',
                cache   : false,
                data    : "exam=" + option,
                success : function(data,textStatus)
                {
                    $("#subject").html(data);
                },
                error   : function(data,textStatus){alert("Error connecting to Siresources Servers. Please check your internet connection and try again.");}
            });
        }
        function subject_changed(option)
        {
            if (option == 0)
            {
                return;
            }
            $.ajax({
                type    : 'GET',
                url     : '/subject/ajax/topic/',
                cache   : false,
                data    : "subject=" + option,
                success : function(data,textStatus)
                {
                    $("#topic").html(data);
                },
                error   : function(data,textStatus){alert("Error connecting to Siresources Servers. Please check your internet connection and try again.");}
            });
        }
        function topic_changed(option)
        {
            if (option == 0)
            {
                return;
            }
            $.ajax({
                type    : 'GET',
                url     : '/topic/ajax/subtopic/',
                cache   : false,
                data    : "topic=" + option,
                success : function(data,textStatus)
                {
                    $("#sub_topic").html(data);
                },
                error   : function(data,textStatus){alert("Error connecting to Siresources Servers. Please check your internet connection and try again.");}
            });
        }
        function subtopic_changed(option)
        {
            if (option == 0)
            {
                return;
            }
            document.getElementById('next_rows').value = "20";
            page="0";
            $.ajax({
                type    : 'GET',
                url     : '/publisher/subtopic/ajax/questions/',
                cache   : false,
                data    : "sub_topic=" + option + "&page=" + page,
                success : function(data,textStatus)
                {
                    $("#publisher_question_table").html(data);
                },
                error   : function(data,textStatus){alert("Error connecting to Siresources Servers. Please check your internet connection and try again.");}
            });
        }
      
        function formSubmit()
        {
            form_error = false;
            if (document.getElementById('state').selectedIndex == 0)
            {
                form_error = true;
                alert('Please select an appropriate State for your question');
                return false;
            }
            if (document.getElementById('exam').selectedIndex == 0)
            {
                form_error = true;
                alert('Please select an appropriate Exam for your question');
                return false;
            }
            if (document.getElementById('subject').selectedIndex == 0)
            {
                form_error = true;
                alert('Please select an appropriate Subject for your question');
                return false;
            }
            if (document.getElementById('topic').selectedIndex == 0)
            {
                form_error = true;
                alert('Please select an appropriate Topic for your question');
                return false;
            }
            if (document.getElementById('sub_topic').selectedIndex == 0)
            {
                form_error = true;
                alert('Please select an appropriate Sub Topic for your question');
                return false;
            }
            if (document.getElementById('question_type').selectedIndex == 0)
            {
                form_error = true;
                alert('Please select an appropriate Question Type for your question');
                return false;
            }
            
            document.forms["question_form"].submit();
        }
    </script>

    {% csrf_token %}
    <script type="text/javascript">

        function onPublishClick(option, qid)
        {
            var ajax_url = "";


            if (option == 1)
                ajax_url = "/publisher/question/ajax/publish/";
            else
                ajax_url = "/publisher/question/ajax/unpublish/";

            $.ajax({
                type    : 'POST',
                url     : ajax_url,
                cache   : false,
                data    : "qid=" + qid,
                success : function(data,textStatus)
                {
                    if (data == "Success")
                    {
                        if (option == 1)
                            $("#question_img_" + qid).html('<img alt="Published" title="Published" src="/static/images/published.png" />');
                        else
                            $("#question_img_" + qid).html("<img alt='Un Published' title='Un Published' src='/static/images/unpublished.png' />");
                    }
                    else
                        alert("Error: Cannot complete your request");
                },
                error   : function(data,textStatus){alert("Error connecting to Smart World Servers. Please check your internet connection and try again.");}
            });
        }

        function ajax_load_more()
        {
            document.getElementById('load_more_questions').value = "Please Wait...";
            sub_topic = document.getElementById('sub_topic').value;
            var next_rows = document.getElementById('next_rows').value;
            $.ajax({
                type    : 'GET',
                url     : '/publisher/ajax/browse/questions/',
                cache   : false,
                data    : "sub_topic=" + sub_topic + "&next_rows=" + next_rows,
                success : function(data,textStatus)
                {
                    if (data != "False")
                    {
                        $("#publisher_question_table").append(data);
                        document.getElementById('next_rows').value = parseInt(next_rows) + 20;
                        // Is this needed?
                        tablecloth();
                        $("a[rel='popup_link']").colorbox({width:"80%", height:"85%", iframe:true});
                    }
                    else
                    {
                        $("#load_more_questions").hide();
                    }
                    document.getElementById('load_more_questions').value = "Load More";
                },
                error   : function(data,textStatus) {
                    document.getElementById('load_more_questions').value = "Load More";
                    alert("Error connecting to Smart World Servers. Please check your internet connection and try again.");
                    }
            });
        }
        
    </script>

      {% if form_error %}
        <div class="alert alert-dismissable alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>{{error_text}}</strong> 
        </div>
      {% endif %}
     
      {% if question_saved %}
        <div class="alert alert-dismissable alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Your question was saved successfully.</strong> 
        </div>
      {% endif %}
 
       <div class="list-question" style="margin-top:100px;margin-left:20px;">
        <form id="question_form" method="POST" action="#" onSubmit="return updateDivs(this);"> {% csrf_token %}
            <div style="display:none;"><input id="next_rows" type="hidden" value="20" /></div>
            <table>
                <tr>
                    <td id="td_state">
                    <select name="state" id="state" onChange="state_changed(this.value)" style="width:220px;">
                        <option value="0">Select State</option>
                        {% for state in states %}
                            <option value="{{state.id}}">{{state.state}}</option> 
                        {% endfor %}
                    </select>
                    </td>
                    <td id="td_exam">
                    <select name="exam" id="exam" onChange="exam_changed(this.value)" style="width:220px;">
                        <option value="0">Select Exams</option>
                    </select>
                    </td>
                    <td id="td_subject">
                    <select name="subject" id="subject" onChange="subject_changed(this.value)" style="width:220px;">
                        <option value="0">Select Subject</option>
                    </select>
                    </td>
                    <td id="td_topic">
                    <select name="topic" id="topic" onChange="topic_changed(this.value)" style="width:220px;">
                        <option value="0">Select Topic</option>
                    </select>
                    </td>
                    <td id="td_sub_topic">
                    <select name="sub_topic" id="sub_topic" onChange="subtopic_changed(this.value)" style="width:220px;">
                        <option value="0">Select Sub Topic</option>
                    </select>
                    </td>
                    
                   
                </tr>
            </table>
            
        </form>
    </div>
      
<div class="CSSTableGenerator" >
     {% autoescape off %}
  <table id="publisher_question_table"> 
    <tr>
      <td>No</td>
      <td>Status</td>
      <td>Questions</td>
      <td>Actions</td>
    </tr>

  </table>
  {% endautoescape %}
</div><br><br>
<div class="row"> 
  <div class="col-lg-4">
  </div>
  <div class="col-lg-8">
    {% if pages.pages %}    
      <ul class="pagination pagination-lg">
        <li class="disabled"><a href="publisher/subtopic/ajax/questions/?page=0"  id="to_first"> &laquo;</a></li>
        <li class="active"><a href="publisher/subtopic/ajax/questions/?page=0" id="first">1</a></li></li>
        {% for page in pages.pages %}
          <li id="page_links_{{page}}"><a href="publisher/subtopic/ajax/questions/?page={{page}}">{{ page|add:"1" }}</a></li>
        {% endfor %}
        <li id="to_last"><a href="publisher/subtopic/ajax/questions/?page={{page.last}}" >&raquo;</a></li>
      </ul>
    {% endif %}        
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function()
    {
        $("#page_links_{{current_page}}").addClass("current");
        if ({{ pages.count}} == 0)
        {
            $("#first").hide();
            $("#to_first").hide();
            $("#last").hide();
            $("#to_last").hide();
        }
        if( {{ pages.count }} == 4)
        {
            $("#first").hide();
            $("#to_first").hide();
        }
        if( {{pages.count}} == {{pages.last}} + 1)
        {
            $("#last").hide();
            $("#to_last").hide();
        }
    });
</script>

<!--<div align="center"><input class="load-more" id="load_more_questions" type="button" value="Load More" onClick="ajax_load_more();"/></div>-->
<br><br>


{% include "tutor_footer.html" %}


