{% include "publisher_header.html" %}

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://uploads.siresources.in.s3.amazonaws.com/cdn/js/jhtmlarea/style/jqueryui/ui-lightness/jquery-ui-1.7.2.custom.css" />
    <script type="text/javascript" src="http://uploads.siresources.in.s3.amazonaws.com/cdn/js/jhtmlarea/scripts/jHtmlArea-0.7.0.js"></script>
    <link rel="stylesheet" type="text/css" href="http://uploads.siresources.in.s3.amazonaws.com/cdn/js/jhtmlarea/style/jHtmlArea.css" />
    <script type="text/javascript">
        $(document).ready(function() {
            $(".jHtmlArea").htmlarea();
        });
    </script>
    
    
    <script type="text/javascript">
        function state_changed(option)
        {
            if (option == 0)
            {
                return;
            }
            $.ajax({
                type    : 'GET',
                url     : '/state/ajax/exam/',
                cache   : false,
                data    : "state=" + option,
                success : function(data,textStatus)
                {
                    $("#exam").html(data);
                },
                error   : function(data,textStatus){alert("Error connecting to Siresources Servers. Please check your internet connection and try again.");}
            });
        }
        function exam_changed(option)
        {
            if (option == 0)
            {
                return;
            }
            $.ajax({
                type    : 'GET',
                url     : '/exam/ajax/subject/',
                cache   : false,
                data    : "exam=" + option,
                success : function(data,textStatus)
                {
                    $("#subject").html(data);
                },
                error   : function(data,textStatus){alert("Error connecting to Siresources Servers. Please check your internet connection and try again.");}
            });
        }
        function subject_changed(option)
        {
            if (option == 0)
            {
                return;
            }
            $.ajax({
                type    : 'GET',
                url     : '/subject/ajax/topic/',
                cache   : false,
                data    : "subject=" + option,
                success : function(data,textStatus)
                {
                    $("#topic").html(data);
                },
                error   : function(data,textStatus){alert("Error connecting to Siresources Servers. Please check your internet connection and try again.");}
            });
        }
        function topic_changed(option)
        {
            if (option == 0)
            {
                return;
            }
            $.ajax({
                type    : 'GET',
                url     : '/topic/ajax/subtopic/',
                cache   : false,
                data    : "topic=" + option,
                success : function(data,textStatus)
                {
                    $("#sub_topic").html(data);
                },
                error   : function(data,textStatus){alert("Error connecting to Siresources Servers. Please check your internet connection and try again.");}
            });
        }
        function subtopic_changed(option)
        {
            if (option == 0)
            {
                return;
            }
            $.ajax({
                type    : 'GET',
                url     : '/subtopic/ajax/question/',
                cache   : false,
                data    : "sub_topic=" + option,
                success : function(data,textStatus)
                {
                    $("#question_table").html(data);
                },
                error   : function(data,textStatus){alert("Error connecting to Siresources Servers. Please check your internet connection and try again.");}
            });
        }

        
        function formSubmit()
        {
            form_error = false;
            if (document.getElementById('state').selectedIndex == 0)
            {
                form_error = true;
                alert('Please select an appropriate State for your question');
                return false;
            }
            if (document.getElementById('exam').selectedIndex == 0)
            {
                form_error = true;
                alert('Please select an appropriate Exam for your question');
                return false;
            }
            if (document.getElementById('subject').selectedIndex == 0)
            {
                form_error = true;
                alert('Please select an appropriate Subject for your question');
                return false;
            }
            if (document.getElementById('topic').selectedIndex == 0)
            {
                form_error = true;
                alert('Please select an appropriate Topic for your question');
                return false;
            }
            if (document.getElementById('sub_topic').selectedIndex == 0)
            {
                form_error = true;
                alert('Please select an appropriate Sub Topic for your question');
                return false;
            }
            if (document.getElementById('question_type').selectedIndex == 0)
            {
                form_error = true;
                alert('Please select an appropriate Question Type for your question');
                return false;
            }
            
            document.forms["question_form"].submit();
        }
    </script>

    <script language="javascript" type="text/javascript">
   
    function popitup(url) {
        newwindow=window.open(url,'name','height=400,width=480');
        if (window.focus) {newwindow.focus()}
        return false;
    }
    
    </script>
    
     
      {% if form_error %}
        <div class="alert alert-dismissable alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>{{error_text}}</strong> 
        </div>
      {% endif %}
     
      {% if question_saved %}
        <div class="alert alert-dismissable alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Your question was saved successfully.</strong> 
        </div>
      {% endif %}
 
       <div class="list-question" style="margin-top:100px;margin-left:20px;">
        <form id="question_form" method="POST" action="#" onSubmit="return updateDivs(this);"> {% csrf_token %}
            <table>
                <tr>
                    <td id="td_state">
                    <select name="state" id="state" onChange="state_changed(this.value)" style="width:220px;">
                        <option value="0">Select State</option>
                        {% for state in states %}
                            <option value="{{state.id}}">{{state.state}}</option> 
                        {% endfor %}
                    </select>
                    </td>
                    <td id="td_exam">
                    <select name="exam" id="exam" onChange="exam_changed(this.value)" style="width:220px;">
                        <option value="0">Select Exams</option>
                    </select>
                    </td>
                    <td id="td_subject">
                    <select name="subject" id="subject" onChange="subject_changed(this.value)" style="width:220px;">
                        <option value="0">Select Subject</option>
                    </select>
                    </td>
                    <td id="td_topic">
                    <select name="topic" id="topic" onChange="topic_changed(this.value)" style="width:220px;">
                        <option value="0">Select Topic</option>
                    </select>
                    </td>
                    <td id="td_sub_topic">
                    <select name="sub_topic" id="sub_topic" onChange="subtopic_changed(this.value)" style="width:220px;">
                        <option value="0">Select Sub Topic</option>
                    </select>
                    </td>
                    
                   
                </tr>
            </table>
            
        </form>
    </div>
      
<div class="CSSTableGenerator" >
  <table id="question_table">
    <tr>
      <td>No</td>
      <td>Status</td>
      <td>Questions</td>
      <td>Actions</td>
    </tr>
    {% for question in questions %}
      <tr>
        <td style="width:50px; text-align:center;">{{ forloop.counter }}</td>
        <td style="width:100px;text-align:center;"><img src="/static/images/unpublished.png"></td>
        <td>
            {{question.question}}
        </td>
        <td style="width:150px; text-align:center;">
          <a href="/tutor/questions/edit/?id={{question.id}}">
              <img src="/static/images/edit.png">
          </a>&nbsp;&nbsp;&nbsp;
          <a>
              <img src="/static/images/trash.png">
          </a>
        </td>
      </tr>
    {%endfor%}
  </table>
</div><br><br>


{% include "tutor_footer.html" %}


