{% include "tutor_header.html" %}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://uploads.siresources.in.s3.amazonaws.com/cdn/js/jhtmlarea/style/jqueryui/ui-lightness/jquery-ui-1.7.2.custom.css" />
<script type="text/javascript" src="http://uploads.siresources.in.s3.amazonaws.com/cdn/js/jhtmlarea/scripts/jHtmlArea-0.7.0.js"></script>
<link rel="stylesheet" type="text/css" href="http://uploads.siresources.in.s3.amazonaws.com/cdn/js/jhtmlarea/style/jHtmlArea.css" />
<script type="text/javascript">
    $(document).ready(function() {
        $(".jHtmlArea").htmlarea();
    });
</script>

<script type="text/javascript">
        function state_changed(option)
        {
            if (option == 0)
            {
                return;
            }
            $.ajax({
                type    : 'GET',
                url     : '/state/ajax/exam/',
                cache   : false,
                data    : "state=" + option,
                success : function(data,textStatus)
                {
                    $("#exam").html(data);
                },
                error   : function(data,textStatus){alert("Error connecting to Siresources Servers. Please check your internet connection and try again.");}
            });
        }
        function exam_changed(option)
        {
            if (option == 0)
            {
                return;
            }
            $.ajax({
                type    : 'GET',
                url     : '/exam/ajax/subject/',
                cache   : false,
                data    : "exam=" + option,
                success : function(data,textStatus)
                {
                    $("#subject").html(data);
                },
                error   : function(data,textStatus){alert("Error connecting to Siresources Servers. Please check your internet connection and try again.");}
            });
        }
        function subject_changed(option)
        {
            if (option == 0)
            {
                return;
            }
            $.ajax({
                type    : 'GET',
                url     : '/subject/ajax/topic/',
                cache   : false,
                data    : "subject=" + option,
                success : function(data,textStatus)
                {
                    $("#topic").html(data);
                },
                error   : function(data,textStatus){alert("Error connecting to Siresources Servers. Please check your internet connection and try again.");}
            });
        }
        function topic_changed(option)
        {
            if (option == 0)
            {
                return;
            }
            $.ajax({
                type    : 'GET',
                url     : '/topic/ajax/subtopic/',
                cache   : false,
                data    : "topic=" + option,
                success : function(data,textStatus)
                {
                    $("#sub_topic").html(data);
                },
                error   : function(data,textStatus){alert("Error connecting to Siresources Servers. Please check your internet connection and try again.");}
            });
        }

        function formSubmit()
        {
            form_error = false;
            if (document.getElementById('state').selectedIndex == 0)
            {
                form_error = true;
                alert('Please select an appropriate State for your question');
                return false;
            }
            if (document.getElementById('exam').selectedIndex == 0)
            {
                form_error = true;
                alert('Please select an appropriate Exam for your question');
                return false;
            }
            if (document.getElementById('subject').selectedIndex == 0)
            {
                form_error = true;
                alert('Please select an appropriate Subject for your question');
                return false;
            }
            if (document.getElementById('topic').selectedIndex == 0)
            {
                form_error = true;
                alert('Please select an appropriate Topic for your question');
                return false;
            }
            if (document.getElementById('sub_topic').selectedIndex == 0)
            {
                form_error = true;
                alert('Please select an appropriate Sub Topic for your question');
                return false;
            }
            
            document.forms["tips_and_tricks"].submit();
        }
    </script>

<div class="row">
	<div class="col-lg-8">
	  <div class="well">
	    <form class="bs-example form-horizontal" id="tips_and_tricks" action="/tutor/add/tipsandtricks/" method="POST">
	      <fieldset>
	        <legend>Add Tips and Tricks</legend>

	        {% if saved %}
		        <div class="alert alert-dismissable alert-success">
		          <button type="button" class="close" data-dismiss="alert">&times;</button>
		          <strong>Tips and Tricks was successfully.</strong> 
		        </div>
      		{% endif %}

      		{% if save_error %}
		        <div class="alert alert-dismissable alert-danger">
		          <button type="button" class="close" data-dismiss="alert">&times;</button>
		          <strong>Error in saving data.</strong> 
		        </div>
		      {% endif %}

		      {% if form_error %}
		        <div class="alert alert-dismissable alert-danger">
		          <button type="button" class="close" data-dismiss="alert">&times;</button>
		          <strong>You must fill all fields.</strong> 
		        </div>
		      {% endif %}


	        <div class="form-group">
            	<label for="state" class="col-lg-2 control-label">State</label>
	            <div class="col-lg-9">
	              <select name="state" id="state" class="form-control" onChange="state_changed(this.value)">
	              	<option value="0">Select State</option>
	                {% for state in states %}
	                <option value="{{state.pk}}">{{state.state}}</option>
	                {% endfor %}
	              </select>
	            </div>
          	</div>


	        <div class="form-group">
            	<label for="exam" class="col-lg-2 control-label">Exam</label>
	            <div class="col-lg-9">
	              <select name="exam" id="exam" class="form-control" onChange="exam_changed(this.value)">
	              	<option value="0">Select Exam</option>
	                
	              </select>
	            </div>
          	</div>


	        <div class="form-group">
            	<label for="subject" class="col-lg-2 control-label">Subject</label>
	            <div class="col-lg-9">
	              <select name="subject" id="subject" class="form-control" onChange="subject_changed(this.value)">
	              	<option value="0">Select Subject</option>
	                
	              </select>
	            </div>
          	</div>


	        <div class="form-group">
            	<label for="topic" class="col-lg-2 control-label">Topic</label>
	            <div class="col-lg-9">
	              <select name="topic" id="topic" class="form-control" onChange="topic_changed(this.value)">
	              	<option value="0">Select Topic</option>
	                
	              </select>
	            </div>
          	</div>

	        <div class="form-group">
            	<label for="state" class="col-lg-2 control-label">Sub Topic</label>
	            <div class="col-lg-9">
	              <select name="sub_topic" id="sub_topic" class="form-control">
	              	<option value="0">Select Sub Topic</option>
	                
	              </select>
	            </div>
          	</div>

          <div class="form-group">
            <label for="title" class="col-lg-2 control-label">Title</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" name="title" id="title">
            </div>
          </div>

          <div class="form-group">
            <label for="description" class="col-lg-2 control-label">Description</label>
            <div class="col-lg-9">
              <textarea name="description" id="description" class="jHtmlArea" rows="15" cols="56"></textarea>
            </div>
          </div>

         	
          <br>
        	<div class="form-group">
	        	<div class="col-lg-10 col-lg-offset-2">
                    <input type="button" class="btn btn-primary" value="Submit" onClick="formSubmit();" />
	        	</div>
      		</div>

        </fieldset>
	    </form>
	  </div>
	</div>
</div>

{% include "tutor_footer.html" %}