{% include "tutor_header.html" %}
    
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://uploads.siresources.in.s3.amazonaws.com/cdn/js/jhtmlarea/style/jqueryui/ui-lightness/jquery-ui-1.7.2.custom.css" />
    <script type="text/javascript" src="http://uploads.siresources.in.s3.amazonaws.com/cdn/js/jhtmlarea/scripts/jHtmlArea-0.7.0.js"></script>
    <link rel="stylesheet" type="text/css" href="http://uploads.siresources.in.s3.amazonaws.com/cdn/js/jhtmlarea/style/jHtmlArea.css" />
    <script type="text/javascript">
        $(document).ready(function() {
            $(".jHtmlArea").htmlarea();
        });
    </script>
    
    
    <script type="text/javascript">
        function language_changed(option)
        {
            if (option == 0)
            {
                return;
            }
            $.ajax({
                type    : 'GET',
                url     : '/language/ajax/topic/',
                cache   : false,
                data    : "language=" + option,
                success : function(data,textStatus)
                {
                    $("#topic").html(data);
                },
                error   : function(data,textStatus){alert("Error connecting to Pscexams Servers. Please check your internet connection and try again.");}
            });
        }
        
        function formSubmit()
        {
            form_error = false;
            if (document.getElementById('language').selectedIndex == 0)
            {
                form_error = true;
                alert('Please select an appropriate Language for your question');
                return false;
            }
            if (document.getElementById('topic').selectedIndex == 0)
            {
                form_error = true;
                alert('Please select an appropriate Topic for your question');
                return false;
            }
            
            $("#question").val($('#question').htmlarea('toHtmlString'));
            $("#option1").val($('#option1').htmlarea('toHtmlString'));
            $("#option2").val($('#option2').htmlarea('toHtmlString'));
            $("#option3").val($('#option3').htmlarea('toHtmlString'));
            $("#option4").val($('#option4').htmlarea('toHtmlString'));
            $("#explanation").val($('#explanation').htmlarea('toHtmlString'));
            document.forms["question_form"].submit();
        }
    </script>

    <script language="javascript" type="text/javascript">
   
    function popitup(url) {
        newwindow=window.open(url,'name','height=400,width=480');
        if (window.focus) {newwindow.focus()}
        return false;
    }
    
    </script>
    
      <h2>Add Current Affairs</h2>

      {% if form_error %}
        <div class="alert alert-dismissable alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>{{error_text}}</strong> 
        </div>
      {% endif %}
     
      {% if question_saved %}
        <div class="alert alert-dismissable alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Your question was saved successfully.</strong> 
        </div>
      {% endif %}
 
       <div class="create-question">
        <form id="question_form" method="POST" action="/tutor/add/currentaffairs/"> {% csrf_token %}
            <table>
                <tr>
                    <td id="td_language">
                    <select name="language" id="language" onChange="language_changed(this.value)" style="width:185px;">
                        <option value="0">Select Language</option>
                        {% for language in languages %}
                            <option value="{{language.id}}">{{language.language}}</option> 
                        {% endfor %}
                    </select>
                    </td>
                    <td>
                    </td>
                    <td id="td_topic">
                    <select name="topic" id="topic" style="margin-left:30px;width:185px;">
                        <option value="0">Select Topic</option>
                    </select>
                    </td>
                    
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <h2>Question:</h2>
                        <textarea name="question" id="question" class="jHtmlArea" rows="10" cols="96"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Option 1:</h2>
                        <textarea name="option1" id="option1" class="jHtmlArea" rows="10" cols="96"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Option 2:</h2>
                        <textarea name="option2" id="option2" class="jHtmlArea" rows="10" cols="96"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Option 3:</h2>
                        <textarea name="option3" id="option3" class="jHtmlArea" rows="10" cols="96"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Option 4:</h2>
                        <textarea name="option4" id="option4" class="jHtmlArea" rows="10" cols="96"></textarea>
                    </td>

                </tr>
                <tr>
                    <td>
                        <h2>Explanation:</h2>
                        <textarea name="explanation" id="explanation" class="jHtmlArea" rows="10" cols="96"></textarea>
                    </td>
                </tr>

                <tr>
                    <td><br><br>
                        <p><b>
                        Select Answer: 
                        <label for="answer_in_option1">Option 1</label> <input type="radio" id="answer_in_option1" name="answer_in_option" value="1" />
                        <label for="answer_in_option2">Option 2</label> <input type="radio" id="answer_in_option2" name="answer_in_option" value="2" />
                        <label for="answer_in_option3">Option 3</label> <input type="radio" id="answer_in_option3" name="answer_in_option" value="3" />
                        <label for="answer_in_option4">Option 4</label> <input type="radio" id="answer_in_option4" name="answer_in_option" value="4" />
                        </b></p>
                    </td>
                </tr>
                        
            <tr><td><br>
            <input type="button" class="btn btn-success" value="Save Question" onClick="formSubmit();" />
            </td></tr>
            </table>
        </form>
    </div>
        <br><br><br>


{% include "tutor_footer.html" %}