{% include "tutor_header.html" %}

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".jHtmlArea").htmlarea();
    });
</script>
<script type="text/javascript">
    function state_changed(option)
    {
        if (option == 0)
        {
            return;
        }
        $.ajax({
            type    : 'GET',
            url     : '/state/ajax/exam/',
            cache   : false,
            data    : "state=" + option,
            success : function(data,textStatus)
            {
                $("#exam").html(data);
            },
            error   : function(data,textStatus){alert("Error connecting to Siresources Servers. Please check your internet connection and try again.");}
        });
    }
    function exam_changed(option)
    {
        if (option == 0)
        {
            return;
        }
        $.ajax({
            type    : 'GET',
            url     : '/exam/ajax/subject/',
            cache   : false,
            data    : "exam=" + option,
            success : function(data,textStatus)
            {
                $("#subject").html(data);
            },
            error   : function(data,textStatus){alert("Error connecting to Siresources Servers. Please check your internet connection and try again.");}
        });
    }
    function subject_changed(option)
    {
        if (option == 0)
        {
            return;
        }
        $.ajax({
            type    : 'GET',
            url     : '/subject/ajax/topic/',
            cache   : false,
            data    : "subject=" + option,
            success : function(data,textStatus)
            {
                $("#topic").html(data);
            },
            error   : function(data,textStatus){alert("Error connecting to Siresources Servers. Please check your internet connection and try again.");}
        });
    }
    function topic_changed(option)
    {
        if (option == 0)
        {
            return;
        }
        $.ajax({
            type    : 'GET',
            url     : '/topic/ajax/subtopic/',
            cache   : false,
            data    : "topic=" + option,
            success : function(data,textStatus)
            {
                $("#sub_topic").html(data);
            },
            error   : function(data,textStatus){alert("Error connecting to Siresources Servers. Please check your internet connection and try again.");}
        });
    }
    function subtopic_changed(option)
    {
        if (option == 0)
        {
            return;
        }
        $.ajax({
            type    : 'GET',
            url     : '/tutor/subtopic/ajax/tipsandtricks/',
            cache   : false,
            data    : "sub_topic=" + option,
            success : function(data,textStatus)
            {
                $("#tips_and_tricks_table").html(data);
            },
            error   : function(data,textStatus){alert("Error connecting to Siresources Servers. Please check your internet connection and try again.");}
        });
    }

    
    function formSubmit()
    {
        form_error = false;
        if (document.getElementById('state').selectedIndex == 0)
        {
            form_error = true;
            alert('Please select an appropriate State for your question');
            return false;
        }
        if (document.getElementById('exam').selectedIndex == 0)
        {
            form_error = true;
            alert('Please select an appropriate Exam for your question');
            return false;
        }
        if (document.getElementById('subject').selectedIndex == 0)
        {
            form_error = true;
            alert('Please select an appropriate Subject for your question');
            return false;
        }
        if (document.getElementById('topic').selectedIndex == 0)
        {
            form_error = true;
            alert('Please select an appropriate Topic for your question');
            return false;
        }
        if (document.getElementById('sub_topic').selectedIndex == 0)
        {
            form_error = true;
            alert('Please select an appropriate Sub Topic for your question');
            return false;
        }
        
        document.forms["question_form"].submit();
    }
</script>

<script language="javascript" type="text/javascript">

function popitup(url) {
    newwindow=window.open(url,'name','height=400,width=480');
    if (window.focus) {newwindow.focus()}
    return false;
}

</script>
<br> 
<h4 class="text-muted"><strong>Tips and Tricks</strong></h4>
<hr>
<div class="list-question">
        <form class="form-horizontal" id="question_form" method="POST" action="#" onSubmit="return updateDivs(this);"> {% csrf_token %}
            <table>
                <tr>
                    <td id="td_state">
                        <select class="form-control" name="state" id="state" onChange="state_changed(this.value)" style="width:220px;">
                            <option value="0">Select State</option>
                            {% for state in states %}
                                <option value="{{state.id}}">{{state.state}}</option> 
                            {% endfor %}
                        </select>
                    </td>
                    <td id="td_exam">
                        <select class="form-control" name="exam" id="exam" onChange="exam_changed(this.value)" style="width:220px;">
                            <option value="0">Select Exams</option>
                        </select>
                    </td>
                    <td id="td_subject">
                        <select class="form-control" name="subject" id="subject" onChange="subject_changed(this.value)" style="width:220px;">
                            <option value="0">Select Subject</option>
                        </select>
                    </td>
                    <td id="td_topic">
                        <select class="form-control" name="topic" id="topic" onChange="topic_changed(this.value)" style="width:220px;">
                            <option value="0">Select Topic</option>
                        </select>
                    </td>
                    <td id="td_sub_topic">
                        <select class="form-control" name="sub_topic" id="sub_topic" onChange="subtopic_changed(this.value)" style="width:220px;">
                            <option value="0">Select Sub Topic</option>
                        </select>
                    </td>
                </tr>
            </table>
        </form>
    </div>
<br>
<br>
<div class="col-lg-12" >
    <table class="table table-bordered table-striped table-hover" id="tips_and_tricks_table">
        <tr class="success">
            <td>No</td>
            <td>Status</td>
            <td>Title</td>
            <td>Actions</td>
        </tr>
    </table>
</div>
</div>
<br>
<br>


{% include "tutor_footer.html" %}


