{% include "tutor_header.html" %}
<br>
<br>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Hi, {{user.username}}</strong></h3>
                </div>
                <div class="panel-body">
                    <a href="/tutor/mcqs/">
                        <h5><strong>Multiple Choice Questions</strong></h5>
                    </a>
                    <hr> 
                    <a href="/tutor/oneword/list/">
                        <h5><strong>Read & Learn</strong></h5>
                    </a>   
                    <hr>
                    <a href="/tutor/list/tipsandtricks/">
                        <h5><strong>Tips and Tricks</strong></h5>
                    </a>   
                    <hr>
                </div>
            </div>
        </div>    
    </div>
</div>
{% include "tutor_footer.html" %}


