{% include 'header.html' %}
	<div class="row">
		<div class="col-lg-8">
  		<p style="line-height:25px;font-size:18px;" align="justify">            
       			<b><u><font color="#66CCFF"><h3>Read and Learn</h3></font></u></b>
       			<br>
    
      <p style="line-height:25px;" align="justify">            
       Reading to Learn is one of the world's most powerful literacy programs. It is designed to enable all learners at all levels of education to read at their levels, grade and areas of study. Apply this to your PCS preparations too. Here we have set out some hand picked material and question banks, time-proven exam strategies, exam analyses and simulated tests to give you a hands-on real time test experience.We strive to ensure that you do not miss out on anything that you need on your way to success.
      </p>
    </div>
		<div class="col-lg-4" style="margin-top:40px;">
		    {% include "free_signup.html" %}
		</div>
	</div> 
<br><br>
{% include 'footer.html' %}
  