{% include 'header.html' %}
  
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-8">

       {% block content %}
          <div class="col-md-12">
            <h3><strong class="text-muted">{{exam.exam}}</strong></h3>
            <hr>

            {% for subject in subjects %}
              <div class="col-md-12">
                <div class="col-md-2">
                    <img src="{{subject.get_subject_image}}"> 
                </div>
                <div class="col-md-10">
                    <a href="/about/subject/topics/?id={{subject.id}}"><h4><strong class="text-info">{{subject.subject}}</strong></h4></a>
                      <p>{{subject.get_subject_description}}</p>
                      <hr>
                </div>
              </div>
            {% endfor %}
          </div>
            {% endblock %}

      </div>  

      
<div class="col-lg-4">
        {%if no_user%}
          <div class="col-lg-12">
            <div class="alert alert-dismissable alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>No Such User</strong>
            </div>
          </div>
        {%endif%}

        {%if inactive%}
          <div class="col-lg-12">
            <div class="alert alert-dismissable alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Inactive User</strong>
            </div>
          </div>
        {%endif%}

        {% if user_error %}
          <div class="col-lg-12">
            <div class="alert alert-dismissable alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Username already exists.</strong>
            </div>
          </div>
        {% endif %}


        <div class="col-lg-12">
          {% include "free_signup.html" %}
          
        </div>
      </div>
</div>
</div>    

{% include "footer.html" %}