{% include 'header.html' %}
	<div class="row">
    <div class="col-lg-8">
      
    
      <p style="line-height:25px;font-size:18px;" align="justify">            
       <b><u><font color="#66CCFF"><h3>Kerala PSC Last Grade Servants Exam</h3></font></u></b>
       <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; കേരള പി എസ് സി ലാസ്റ്റ്  ഗ്രേഡ് സര്‍വ്വന്റ്സ്  പരീക്ഷയുടെ വിജ്ഞാപനം നടത്തിയത്  2013 ഡിസംബര്‍ 31 നാണ്.  ലാസ്റ്റ് ഗ്രേഡ് സര്‍വന്റ്സ്  (Office Assistant) പരീക്ഷകള്‍ 2014 സെപ്റ്റംബര്‍ 20 മുതല്‍ 2014 ഡിസംബര്‍ 20 വരെ കേരളത്തിലെ വിവിധ ജില്ലകളിലായി നടത്തുന്നു. റാങ്കി ലിസ്റ്റ് പ്രസിദ്ധീകരിക്കുന്നത് 2015 ജൂണ്‍ 30 നാണ്.
<br><br>
   തസ്തിക &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;                    : ലാസ്റ്റ് ഗ്രേഡ്  സര്‍വെന്റ് 
   <br>വകുപ്പ്  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;         : വിവിധ വകുപ്പുകളിലായി
   <br>വിജ്ഞാപന തീയതി         : 31.12.2013
   <br>കാറ്റഗറി നംമ്പര്‍ &nbsp; &nbsp;&nbsp;     :  567/ 2013
  <br>യോഗ്യത&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                  : 7ാം തരം (മലയാളം, തമിഴ്, കന്നട എന്നീ&nbsp; ഭാഷകളിലേതെങ്കിലും വായിക്കുവാനും,        എഴുതുവാനും കഴിയണം).<br>പ്രായം &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;           : 18 നും  36നും  മധ്യേ ( 2 ജനുവരി 1977 നും 1 ജനുവരി 1995 നും ഇടയില്‍       ജനിച്ചവരായിരിക്കണം). <br>
   ശമ്പള പരിധി&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;             : 8,500 – 13,210 /-



 <br><br><b><u>പരീക്ഷകള്‍ നടത്തുന്ന തീയതികള്‍

</u></b><br>
<table border="1px" style="font-size:18px;">
<tbody><tr>
      <th>ജില്ലകള്‍</th>
      <th>തീയതി</th>
</tr>
<tr>
      <td>തിരുവനന്തപുരം, വയനാട് </td>
      <td>സെപ്റ്റംബര്‍   20,  2014</td>
</tr>
<tr>
      <td>ആലപ്പുഴ, പാലക്കാട്  </td>
      <td>ഒക്ടോബര്‍      11,  2014</td>
</tr>
 <tr>
      <td>പത്തനംതിട്ട, കാസര്‍കോട്  </td>
      <td>ഒക്ടോബര്‍       25, 2014</td>
</tr>
 <tr>
      <td>ഇടുക്കി, കോഴിക്കോട് </td>
      <td>നവംബര്‍         8,  2014</td>
</tr> 
 <tr>
      <td>കോട്ടയം, മലപ്പുറം</td>
      <td> നവംബര്‍        22, 2014</td>
</tr>
 <tr>
      <td>കൊല്ലം, തൃശ്ശൂര്‍</td>
      <td>ഡിസംബര്‍       6,  2014</td>
</tr>
 <tr>
      <td>കണ്ണൂര്‍ എറണാകുളം</td>
      <td>ഡിസംബര്‍      20, 2014</td>
</tr>
</tbody></table>                
<br>ഓണ്‍ലൈന്‍ രജിസ്ട്രേഷന്‍
03.01.2014 മുതല്‍ 05.02.2014 ബുധന്‍ രാത്രി 12 മണിവരെ. 

<br><br><u><b>അപേക്ഷിക്കേണ്ട വിധം 

   </b></u><br>യോഗ്യരായ ഉദ്യോഗാര്‍ത്ഥികള്‍ <a href="http://www.keralapsc.org/" target="_blank">www. Keralapsc. Gov.in </a>എന്ന വെബ്സെറ്റില്‍ ഒറ്റത്തവണ രജിസ്ട്രേഷന്‍ (One time Registration)  നടത്തണം. ലഭിക്കുന്ന അക്കൗണ്ട്  ലോഗിന്‍ ചെയ്ത്   Kerala PSC Last grade Servants പരീക്ഷയ്ക്ക് അപേക്ഷിക്കാം. 
   </p>   
    </div>
    <div class="col-lg-4" style="margin-top:-10px;">
        {% include "free_signup.html" %}
    </div>
  </div> 
<br><br>

{% include 'footer.html' %}
  