{% include 'header.html' %}
	<div class="row">
		<div class="col-lg-8">
  			<p style="line-height:25px;font-size:18px;" align="justify">            
       			<b><u><font color="#66CCFF"><h3>Previous Year Question</h3></font></u></b>
       			<br>
    
      <p style="line-height:25px;" align="justify">            
        pscexams.com provides the candidates for the upcoming PSC Exams with all the previous year question papers for the various categories of exams, conducted by the PSC, along with answer keys and their solutions. Here we have created a platform on which the candidates can reappear for the past PSC Exams which they have attended or missed. Past question papers assist you in getting a better idea of what to prepare for and which areas of the exams are more important. Our aim is to help the candidates manage their time better and allow them to be familiar with the terminology and type of questions asked in the actual exams.
      </p>
 		</div>
		<div class="col-lg-4" style="margin-top:40px;">
		    {% include "free_signup.html" %}
		</div>
	</div>
<br><br>
{% include 'footer.html' %}
  