{% include 'header.html' %}
	<div class="row">
		<div class="col-lg-8">
  		<h1 class="title" style="text-align:center;">Kerala P.S.C Last Grade Servant</h1>
    
      <p style="line-height:25px;" align="justify">            
       Kerala P.S.C has introduced a new category for the candidates called Kerala P.S.C Last grade Servants. Candidates who have the minimal qualification of secondry level education can apply for the post. All the application will be accepted only through the one time registration facility approved by the Kerala P.S.C website.
      </p>
    </div>
		<div class="col-lg-4" style="margin-top:40px;">
		    {% include "free_signup.html" %}
		</div>
	</div> 
<br><br>
{% include 'footer.html' %}
  