{% include 'header.html' %}
<div class="row">
	<div class="col-lg-8">
  		<h1 class="title" style="text-align:center;">Welcome to PSC Exams</h1>
    
        <p style="line-height:25px;" align="justify">            
          <a href="http://www.pscexams.com">pscexams.com</a> is a new venture from the creators of the unique on-line education programme smartindia.net.in, for the school students from LKG to XII grades in various syllabus in India. Both the programmes are promoted by the Bharat Sevak Samaj, a National Development Agency, promoted by Govt. of India.</p>

          <p style="line-height:25px;" align="justify"> <a href="http://www.pscexams.com">pscexams.com</a> is made in order to help out candidates who are preparing for the various psc exams every year. We are here to boost up your preparations so that you could achieve the top most positions in the psc rank lists. This is the place where you can find solved previous year question papers, mock/ model exams which will make you an expert in attending various category exams of psc. We provide you with some useful tips and tricks for making your preparations better and easier. As we know reading has always improved your knowledge, we sets out here some handpicked materials, question banks, time proven exam strategies, articles on various social issues on the past and present times which will surely upgrade your knowledge and reading skills.</p>

          <p style="line-height:25px;" align="justify"> <a href="http://www.pscexams.com">pscexams.com</a> strive to ensure that you don't miss out on anything that you need on your way to success.</p>

          <p style="line-height:25px;" align="justify"> Be free to visit our previous venture <a href="https://smartindia.net.in">https://smartindia.net.in</a> for school students.
        </p> 
    </div>

    <div class="col-lg-4" style="margin-top:40px;">
    	{% include "free_signup.html" %}
    </div>
</div>

{% include 'footer.html' %}
  