{% include 'header.html' %}
  <h1 class="title" style="text-align:center;">Welcome to PSC Exams</h1>
    <h4><u>Introduction</u></h4> 
        <p style="line-height:25px;">            
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Kerala Public Service Commission is a body created by the Constitution of India. The Commission advise the Government on all matters relating to civil services referred to it under Article 320 (3) of the Constitution and publish notifications inviting applications for selection to various posts as per the requisitions of the appointing authorities, conduct written test and/or practical tests, physical efficiency test and interview, prepare ranked list based on the performance of the candidates and advise candidates for appointment strictly based on their merit and observing the rules of reservation as and when vacancies are reported.



The duties and functions of the Commission have been laid down in Art, 320 of the Constitution and they are:

A) To make recruitment to various posts under

i) The Services of the State
ii) The Kerala State Electricity Board
iii) The Kerala State Road Transport Corporation
iv) The Local Authorities
v) The Co-operative Sector and
vi) Various other companies and Corporation
B) To render advice on all matters relating to

i) The methods of recruitment to Civil Services posts;
ii) The principles to be followed in making appointments to Civil Services and posts and in making promotions and transfers from one service to another and in the suitability of candidates for such appointments, promotions, transfers.
iii) The all disciplinary matters affecting a person serving under the Government in Civil Capacity
iv) On any claim in respect of the cost incurred in defending legal proceedings relating to the acts in the execution of duty, to be paid put of the consolidated fund of the state.
v) On any claim for the award of pension in respect of injuries sustained by a person while serving under the Government, in a Civil Capacity and any question as to the amount of any such award.
Under the proviso to Article 320 (3) of the Constitution of India, the Governor of Kerala has made the Kerala Public Service Commission (Consultation) Regulations, 1957 specifying the matters in which it shall not be necessary for the Commission to be consulted.
The Governor has also made under Article 318 of the Constitution, Regulations to determine the number of Members of the Commission and their conditions of service and to make provisions with respect to the number of members on the staff of the Commission and their conditions of Service. These regulations are called Kerala Public Service Commission (Composition and Conditions of Service of Members and Staff) Regulations, 1957.
        </p> 

{% include 'footer.html' %}
  