{% include 'header.html' %}
	<div class="row">
		<div class="col-lg-8">
  		<p style="line-height:25px;font-size:18px;" align="justify">            
       			<b><u><font color="#66CCFF"><h3>Tips and Tricks</h3></font></u></b>
       			<br>
    
      <p style="line-height:25px;" align="justify">            
      Time management is yet another critical detail that is looked into while attending PSC Exams. Here pscexams.com provides some valuable tips and tricks for the candidates on how they should preapare for and attend their exams. This will help them to remember a lot of informations and enable them to calculate the answers quickly. Also this will make them finish answering the questions in the correct time frame alloted for the exams.
      </p>

      <ul><a href='/free/tricks/1/'> General Awareness (പൊതുവിജ്ഞാനം)</a></ul>
      <ul><a href='/free/tricks/2/'> Mental Ability (മാനസികശേഷി പരിശോധന)</a></ul>
      <ul><a href='/free/tricks/3/'> Mathematics (ലഘു ഗണിതം)</a></ul>
      <ul><a href='/free/tricks/9/'> General Science (അടിസ്ഥാന ശാസ്ത്രം)</a></ul>
    </div>

     
   

		<div class="col-lg-4" style="margin-top:40px;">
		    {% include "free_signup.html" %}
		</div>
	</div>
<br><br>
{% include 'footer.html' %}
  