     <footer>
        <div class="row">
          <div class="well" style="background-color: #008cba;" id="footer">
            <fieldset>
              <div class="col-lg-12">
                <ul class="nav navbar-nav navbar-center">
                  <li ><a href="/" style="color:white;">Home</a></li>
                  <li><a href="/about/" style="color:white;">About</a></li>
                  <li><a target="_blank" href="https://smartindia.net.in" style="color:white;">Smartindia</a></li>
                  <li><a target="_blank" href="http://www.keralapsc.org/" style="color:white;">Kerala PSC</a></li>
                  <li><a href="#" style="color:white;">Exams</a></li> 
                </ul>  
                <ul class="list-unstyled"> 
                  <li class="pull-right"><a href="#top" style="color:white;">Back to top</a></li>
                </ul>
              </div>
            </fieldset>
          </div>
        </div>       
      </footer> 
    </div>
    
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootswatch.js"></script>
    <script src="/static/js/login.js"></script>

    <script>
      $(document).ready(function() {
        {% if form %}
          goToByScroll('freeRegister');
          $('#state').val('{{form.state.value}}').attr('selected',true);
        {% endif %}  
      });
      function goToByScroll(id){
          $('html,body,div').animate({scrollTop: $("#"+id).offset().top}, 'slow');
      }
    </script>

    
  </body>
</html>
 