{% include 'header.html' %}
	<div class="row">
		<div class="col-lg-8">
  		<p style="line-height:25px;font-size:18px;" align="justify">            
       			<b><u><font color="#66CCFF"><h3>Practice Tests</h3></font></u></b>
       			<br>
    
      <p style="line-height:25px;" align="justify">            
        Our practice elevates our performance. Practice Test is a real hands-on experience that will give you a sense of what to expect on Test Day. Here on pscexams.com we provide our pscexams aspirants with different practice tasks which will help them to understand the real test patterns, topics and types of questions. By performing these tasks they can raise their confidence and make them identify their areas of improvement. So practice daily and be a winner.
      </p>
      <ul><a href='/practice/test/?topic=1'> General Awareness (പൊതുവിജ്ഞാനം)</a></ul>
      <ul><a href='/practice/test/?topic=2'> Mental Ability (മാനസികശേഷി പരിശോധന)</a></ul>
      <ul><a href='/practice/test/?topic=3'> Mathematics (ലഘു ഗണിതം)</a></ul>
      <ul><a href='/practice/test/?topic=9'> General Science (അടിസ്ഥാന ശാസ്ത്രം)</a></ul>
    </div>

     
   

		<div class="col-lg-4" style="margin-top:40px;">
		    {% include "free_signup.html" %}
		</div>
	</div>
<br><br>
{% include 'footer.html' %}
  