{% include 'header.html' %}
<div class="row">
	<div class="col-lg-12">
		<div class="col-lg-8">
				{% if trick %}
					<table class="table">
						<h3 class="text-info"><strong>{{trick.title}}</strong></h3>
						{% autoescape off %}
							{{trick.description}}
						{% endautoescape %}	
					</table>	
				{% else %}
					<br><br><br>
					<h4><strong class="text-muted">We are updating tips and tricks...</strong></h4>
				{% endif %}	

		</div>
		<div class="col-lg-4">
			{% include "free_signup.html" %}
			<br>
			<div class="panel panel-default">
		    	<div class="panel-heading">
		        	<h3 class="panel-title"><strong><img src="/static/images/binary-tree-icon.png">Related topics</strong></h3>
		        </div>
		        <div class="panel-body">
		        	{% for trick in tricks %}
		        	<ul><a href="/free/tricks/detail/{{subject.pk}}/?id={{trick.pk}}">{{trick.title}}</a></ul>
				    {% endfor %}
		        </div>
    		</div>
		</div>	
	</div>
</div>	
{% include 'footer.html' %}

