<div class="well">
          <form class="bs-example form-horizontal" action="/register/" method="POST">
            <fieldset>
              <legend><img src="/static/images/Register-icon.png"> Free Sign up</legend>

              {% if form.name.errors %}
              <div class="form-group has-error">
                <div class="col-lg-3 control-label">
                  <label for="name">Name</label>
                </div>
                <div class="col-lg-9">
                  <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                  <span class="help-block">{% for error in form.name.errors %}{{error}}{% endfor %}</span>
                </div>
              </div>
              {% else %}

              <div class="form-group">
                <div class="col-lg-3 control-label">
                  <label for="name">Name</label>
                </div>
                <div class="col-lg-9">
                  <input type="text" class="form-control" name="name" id="name" placeholder="Name" value="{% if form.name.value %}{{form.name.value}}{% endif %}">
                </div>
              </div>
              {% endif %}

              {% if form.username.errors %}
              <div class="form-group has-error">
                <div class="col-lg-3">
                <label for="username" >Username</label>
                </div>
                <div class="col-lg-9">
                  <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                  <span class="help-block">{% for error in form.username.errors %}{{error}}{% endfor %}</span>
                </div>
              </div>
              {% else %}
              <div class="form-group">
                <div class="col-lg-3 control-label">
                <label for="username">Username</label>
                </div>
                <div class="col-lg-9">
                  <input type="text" class="form-control" name="username" id="username" placeholder="Username" value="{% if form.username.value %}{{form.username.value}}{% endif %}">
                </div>
              </div>
              {% endif %}

              {% if form.password.errors %}
              <div class="form-group has-error">
                <div class="col-lg-3 control-label">
                  <label for="password">Password</label>
                </div>
                <div class="col-lg-9">
                  <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                  <span class="help-block">{% for error in form.password.errors %}{{error}}{% endfor %}</span>
                </div>
              </div>
              {% else %}
              <div class="form-group">
                <div class="col-lg-3 control-label">
                  <label for="password">Password</label>
                </div>
                <div class="col-lg-9">
                  <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
              </div>
              {% endif %}

              {% if form.email.errors %}
              <div class="form-group has-error">
                <div class="col-lg-3">
                <label for="email" >Email</label>
                </div>
                <div class="col-lg-9">
                  <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                  <span class="help-block">{% for error in form.email.errors %}{{error}}{% endfor %}</span>
                </div>
              </div>
              {% else %}
              <div class="form-group">
                <div class="col-lg-3 control-label">
                <label for="email">Email Id</label>
                </div>
                <div class="col-lg-9">
                  <input type="text" class="form-control" name="email" id="email" placeholder="Email" value="{% if form.email.value %}{{form.email.value}}{% endif %}">
                </div>
              </div>
              {% endif %}

              {% if form.mobile.errors %}
              <div class="form-group has-error">
                <div class="col-lg-3 control-label">
                  <label for="mobile">Mobile</label>
                </div>
                <div class="col-lg-9">
                  <input type="text" class="form-control" name="mobile" id="mobile" placeholder="Mobile">
                  <span class="help-block">{% for error in form.mobile.errors %}{{error}}{% endfor %}</span>
                </div>
              </div>
              {% else %}
              <div class="form-group">
                <div class="col-lg-3 control-label">
                  <label for="mobile">Mobile</label>
                </div>
                <div class="col-lg-9">
                  <input type="text" class="form-control" name="mobile" id="mobile" placeholder="Mobile" value="{% if form.mobile.value %}{{form.mobile.value}}{% endif %}">
                </div>
              </div>
              {% endif %}

              {% if form.state.errors %}
              <div class="form-group has-error">  
                <div class="col-lg-3 control-label">
                  <label for="state">State</label>
                </div>
               
                <div class="col-lg-9">
                  <select name="state" id="state" class="form-control">
                    {% for state in states %}
                    <option value="{{state.pk}}">{{state.state}}</option>
                    {% endfor %}
                  </select>
                  <span class="help-block">{% for error in form.state.errors %}{{error}}{% endfor %}</span>
                </div>
              </div>
              {% else %}
              <div class="form-group">  
                <div class="col-lg-3 control-label">
                  <label for="state">State</label>
                </div>
                <div class="col-lg-9">
                  <select name="state" id="state" class="form-control">
                    {% for state in states %}
                    <option value="{{state.pk}}">{{state.state}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              {% endif %}

               <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button type="reset" class="btn btn-default">Cancel</button> 
                  <button type="submit" class="btn btn-primary">Submit</button> 
                </div>
              </div>
            </fieldset>
          </form>
        </div>