{% include "header.html" %}

  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-1"> 
            <img src="/static/images/Office-icon.png" style="width:70px;height:60px;" alt="psc exams practice ">
          </div>
          <div class="col-lg-11">
            <br>
            <a href='/practice/'>
              <h4 class="text-info"><strong> Practice Tests</strong></h4>
            </a>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p class="text-muted" align="justify">
              <strong>
               Our practice elevates our performance. Practice Test is a real hands-on experience that will give you a sense of what to expect on Test Day. Here on pscexams.com we provide our pscexams aspirants with different practice tasks which will help them to understand the real test patterns, topics and types of questions.
              </strong>
              <br>  
              <a href=href='/practice/'>
                <span style="float:right;" class="label label-warning">Read more</span>
              </a>
              </p>
            </div>  
          </div>
        </div>      
        <hr>
        <div class="row">
          <div class="col-lg-1"> 
            <img src="/static/images/previous_icon.png" style="width:70px;height:60px;" alt="psc previous questions and answers">
          </div>
          <div class="col-lg-11">
            <br>
            <a href='/about/previous/year/question/'>
              <h4 class="text-info"><strong>Previous Year Questions</strong></h4>
            </a>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p class="text-muted" align="justify">
              <strong>
                pscexams.com provides the candidates for the upcoming PSC Exams with all the previous year question papers for the various categories of exams, conducted by the PSC, along with answer keys and their solutions.
              </strong>
              <br>  
              <a href='/about/previous/year/question/'>
                <span style="float:right;" class="label label-warning">Read more</span>
              </a>
              </p>
            </div>  
          </div>
        </div>    
        <hr>
        <div class="row">
          <div class="col-lg-1">
            <img src="/static/images/modelexam_icon.png"style="width:70px;height:60px;" alt="psc model questions and answers">
          </div>
          <div class="col-lg-11">
            <br>
            <a href='/about/modelexams/'>
              <p><strong><h4 class="text-info">&nbsp;Model Exams</h4></strong></p>
            </a>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p class="text-muted" align="justify">
              <strong>
                pscexams.com provides the candidates with all the question papers of the previous model exams, conducted by the Kerala PSC, along with answer keys. Here we have included the related questions, facts, hints, terminologies and the vocabularies along with the answer keys which helps the candidates to prepare better.
              </strong>
              <br>   
              <a href='/about/modelexams/'>
                <span style="float:right;" class="label label-warning">Read more</span>
              </a>
              </p>
            </div>
          </div>
        </div>      
        <hr>
        <div class="row">
          <div class="col-lg-1">
            <img src="/static/images/tricks.png" style="width:70px;height:60px;" alt="psc tips">
          </div>
          <div class="col-lg-11">
            <br>
            <a href='/about/tipsandtricks/'>
              <p><strong><h4 class="text-info">Tips and Tricks</h4></strong></p>
            </a>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p class="text-muted" align="justify"> 
              <strong>
                Time management is yet another critical detail that is looked into while attending PSC Exams. Here we have included the related questions, facts, hints, terminologies and the vocabularies along with the answer keys which helps the candidates to prepare better.
              </strong>
              <br>  
              <a href='/about/tipsandtricks/'>
                <span style="float:right;" class="label label-warning">Read more</span>
              </a>
              </p>
            </div>
          </div>
        </div>      
        <hr>
        <div class="row">
          <div class="col-lg-1">
            <img src="/static/images/read.png" style="width:70px;height:60px;" alt="psc materials">
          </div>
          <div class="col-lg-11">
            <br>
            <a href='/about/readandlearn/'>
              <p><strong><h4 class="text-info">&nbsp;&nbsp;Read and Learn</h4></strong></p>
            </a>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p class="text-muted" align="justify">
              <strong>
                Reading to Learn is one of the world's most powerful literacy programs. It is designed to enable all learners at all levels of education to read at their levels, grades and areas of study.
              </strong>
              <br>   
              <a href='/about/readandlearn/'>
                <span style="float:right;" class="label label-warning">Read more</span>
              </a>
              </p>
            </div>
          </div>
        </div>      
        <hr>
      </div>
      <div class="col-lg-4">
        {%if no_user%}
          <div class="col-lg-12">
            <div class="alert alert-dismissable alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>No Such User</strong>
            </div>
          </div>
        {%endif%}

        {%if inactive%}
          <div class="col-lg-12">
            <div class="alert alert-dismissable alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Inactive User</strong>
            </div>
          </div>
        {%endif%}

        {% if user_error %}
          <div class="col-lg-12">
            <div class="alert alert-dismissable alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Username already exists.</strong>
            </div>
          </div>
        {% endif %}

        <div class="col-lg-12">
          <a href="https://www.facebook.com/pscexams" target="_blank"><img src="/static/images/facebook-icon.png" alt="pscexams_fb"></a>
            <h5 class="text-info">
                <img src="/static/images/new-icon2.png" alt="psc exams">
                  <ul>
                    <li>
                      <a target="_blank" href='/about/new2/'>Village Extension Officer Exam(VEO)</a>
                    </li> 
                    <li> 
                      <a target="_blank" href='/about/new/'>Last Grade Servants Exam(LGS)</a>
                    </li>
                  </ul>  
            </h5>
          
          {% include "free_signup.html" %}
          <div class="well">
            <fieldset>
                <legend><img src="/static/images/Ok-icon.png" width="50px;" height="40px;" alt="psc exams"> Exams</legend>
                {% for exam in exams %}
                  <a href='/about/examcategory/?id={{exam.id}}'>
            <h5 class="text-info"><strong>{{exam.exam}}</strong></h5><hr>
          </a>
                {% endfor %}
            </fieldset>
          </div>

          <!-- <div class="well">
            <div class="row">
              <div class="col-lg-12" style="font-size:17px;color:#a00b53;">
                <div class="col-lg-6">
                  <strong>Rs. 700/-<br>
                  For 6 Months<br><br></strong>
                  <a href="/registration/"><button type="button" class="btn btn-success">Buy Now</button></a>
                </div>

                <div class="col-lg-6">
                  <strong>Rs. 1200/-<br>
                  For 1 Year<br><br></strong>
                  <a href="/registration/"><button type="button" class="btn btn-success">Buy Now</button></a>
                </div>
              </div>
            </div>
          </div>-->
          </div>
        </div>
      </div>
</div>
</div>    
{% include "footer.html" %}
