{% include "header.html" %}

  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-1">
            <img src="/static/images/promotion_new.png" >
          </div>
       
          <div class="col-lg-11">
            <br>
            <a target="_blank" href='/about/new/'>
            <h4 class="text-info"><strong>Kerala P.S.C Last Grade Servants Exam</strong></h4>
          </a>
          </div>
          <div class="row">
            <div class="col-lg-12"> 
              <p class="text-muted" align="justify">
              <strong>
                കേരള പി എസ് സി ലാസ്റ്റ്  ഗ്രേഡ് സര്‍വ്വന്റ്സ്  പരീക്ഷയുടെ വിജ്ഞാപനം നടത്തിയത്  2013 ഡിസംബര്‍ 31 നാണ്.  ലാസ്റ്റ് ഗ്രേഡ് സര്‍വന്റ്സ്  (Office Assistant) പരീക്ഷകള്‍ 2014 സെപ്റ്റംബര്‍ 20 മുതല്‍ 2014 ഡിസംബര്‍ 20 വരെ കേരളത്തിലെ വിവിധ ജില്ലകളിലായി നടത്തുന്നു. റാങ്കി ലിസ്റ്റ് പ്രസിദ്ധീകരിക്കുന്നത് 2015 ജൂണ്‍ 30 നാണ്.
              </strong>
              <br> 
              <a target="_blank" href='/about/new/'>
                <span style="float:right;" class="label label-warning">Read more</span>
              </a>
              </p>
            </div>
          </div>
        </div>  
        <hr>
        <div class="row">
          <div class="col-lg-1"> 
            <img src="/static/images/previous_icon.png" style="width:70px;height:60px;">
          </div>
          <div class="col-lg-11">
            <br>
            <h4 class="text-info"><strong>Previous Year Questions</strong></h4>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p class="text-muted" align="justify">
              <strong>
                pscexams.com provide the candidates for the upcoming PSC Exams with all the previous year question papers of various category exams, conducted by the PSC, along with answer keys and their solutions.
              </strong>
              <br>  
              <a target="_blank" href='/about/previous/year/question/'>
                <span style="float:right;" class="label label-warning">Read more</span>
              </a>
              </p>
            </div>  
          </div>
        </div>    
        <hr>
        <div class="row">
          <div class="col-lg-1">
            <img src="/static/images/modelexam_icon.png"style="width:70px;height:60px;">
          </div>
          <div class="col-lg-11">
            <br>
            <p><strong><h4 class="text-info">&nbsp;Model Exams</h4></strong></p>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p class="text-muted" align="justify">
              <strong>
                pscexams.com provide the candidates with all the question papers of the previous model exams, conducted by the Kerala PSC, along with answer keys. ere we have included the related questions, facts, hints, terminologies and the vocabularies along with the answer keys which helps the candidates to prepare better.
              </strong>
              <br>   
              <a target="_blank" href='/about/modelexams/'>
                <span style="float:right;" class="label label-warning">Read more</span>
              </a>
              </p>
            </div>
          </div>
        </div>      
        <hr>
        <div class="row">
          <div class="col-lg-1">
            <img src="/static/images/tricks.png" style="width:70px;height:60px;">
          </div>
          <div class="col-lg-11">
            <br>
            <p><strong><h4 class="text-info">Tips and Tricks</h4></strong></p>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p class="text-muted" align="justify"> 
              <strong>
                Time management is yet another critical detail that is looked into while attending PSC Exams. Here we have included the related questions, facts, hints, terminologies and the vocabularies along with the answer keys which helps the candidates to prepare better.
              </strong>
              <br>  
              <a target="_blank" href='/about/tipsandtricks/'>
                <span style="float:right;" class="label label-warning">Read more</span>
              </a>
              </p>
            </div>
          </div>
        </div>      
        <hr>
        <div class="row">
          <div class="col-lg-1">
            <img src="/static/images/read.png" style="width:70px;height:60px;">
          </div>
          <div class="col-lg-11">
            <br>
            <p><strong><h4 class="text-info">&nbsp;&nbsp;Read and Learn</h4></strong></p>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p class="text-muted" align="justify">
              <strong>
                Reading to Learn is one of the world's most powerful literacy programs. t is designed to enable all learners at all levels of education to read at levels grade and area of study.
              </strong>
              <br>   
              <a target="_blank" href='/about/readandlearn/'>
                <span style="float:right;" class="label label-warning">Read more</span>
              </a>
              </p>
            </div>
          </div>
        </div>      
        <hr>
      </div>
      <div class="col-lg-4">
        {%if no_user%}
          <div class="col-lg-12">
            <div class="alert alert-dismissable alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>No Such User</strong>
            </div>
          </div>
        {%endif%}

        {%if inactive%}
          <div class="col-lg-12">
            <div class="alert alert-dismissable alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Inactive User</strong>
            </div>
          </div>
        {%endif%}

        {% if user_error %}
          <div class="col-lg-12">
            <div class="alert alert-dismissable alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Username already exists.</strong>
            </div>
          </div>
        {% endif %}

        <div class="col-lg-12">
          {% include "free_signup.html" %}
          <div class="well">
            <fieldset>
                <legend><img src="/static/images/Ok-icon.png" width="50px;" height="40px;"> Exams</legend>
                {% for exam in exams %}
                  <a href="#">{{exam.exam}}</a><br><hr>
                {% endfor %}
            </fieldset>
          </div>
        </div>
      </div>
</div>
</div>    
{% include "footer.html" %}