{% include "header.html" %}
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-8">
        <div class="row"><div class="col-lg-1"> <img src="/static/images/new.gif"></div><p><strong><h4 class="text-info">Kerala P.S.C Last Grade Servant</h4></strong></p></div>
        <p class="text-muted" align="justify"> Kerala P.S.C has introduced a new category for the candidates called Kerala P.S.C Last grade Servants. Candidates who have the minimal qualification of secondry level education can apply for the post. All the application will be accepted only through the one time registration facility approved by the Kerala P.S.C website. 
          <a target="_blank" href='/about/new/'>
            <span class="label label-success">Read more</span>
          </a>
        </p>
        <hr>

     <div class="row"><div class="col-lg-1"> <img src="/static/images/previous.png" style="width:75px;height:75px;"></div><p><strong><h4 class="text-info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Previous Year Question</h4></strong></p></div>
        <p class="text-muted" align="justify"> pscexams.com provide the candidates for the upcoming PSC Exams with all the previous year question papers of various category exams, conducted by the PSC, along with answer keys and their solutions.
          <a target="_blank" href='/about/previous/year/question/'>
            <span class="label label-success">Read more</span>
          </a>
        </p>
        <hr>

        <div class="row"><div class="col-lg-1"> <img src="/static/images/modelexam.jpg" style="width:75px;height:75px;"></div><p><strong><h4 class="text-info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Model Exams</h4></strong></p></div>
        <p class="text-muted" align="justify"> pscexams.com provide the candidates with all the question papers of the previous model exams, conducted by the Kerala PSC, along with answer keys. ere we have included the related questions, facts, hints, terminologies and the vocabularies along with the answer keys which helps the candidates to prepare better.
          <a target="_blank" href='/about/modelexams/'>
            <span class="label label-success">Read more</span>
          </a>
        </p>
        <hr>

        <div class="row"><div class="col-lg-1"> <img src="/static/images/tricks.png" style="width:75px;height:75px;"></div><p><strong><h4 class="text-info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tips and Tricks</h4></strong></p></div>
        <p class="text-muted" align="justify"> Time management is yet another critical detail that is looked into while attending PSC Exams. Here we have included the related questions, facts, hints, terminologies and the vocabularies along with the answer keys which helps the candidates to prepare better.
          <a target="_blank" href='/about/tipsandtricks/'>
            <span class="label label-success">Read more</span>
          </a>
        </p>
        <hr>

         <div class="row"><div class="col-lg-1"> <img src="/static/images/read.png" style="width:75px;height:75px;"></div><p><strong><h4 class="text-info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Read and Learn</h4></strong></p></div>
        <p class="text-muted" align="justify"> Reading to Learn is one of the world's most powerful literacy programs. t is designed to enable all learners at all levels of education to read at levels grade and area of study. 
          <a target="_blank" href='/about/readandlearn/'>
            <span class="label label-success">Read more</span>
          </a>
        </p>
        <hr>

      </div>

      {%if no_user%}
        <div class="col-lg-4">
          <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>No Such User</strong>
          </div>
        </div>
      {%endif%}

      {%if inactive%}
        <div class="col-lg-4">
          <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Inactive User</strong>
          </div>
        </div>
      {%endif%}

      {% if user_error %}
        <div class="col-lg-4">
          <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Username already exists.</strong>
          </div>
        </div>
      {% endif %}

      <div class="col-lg-4">
        {% include "free_signup.html" %}
        <div class="well">
          <fieldset>
              <legend>Exams</legend>
              {% for exam in exams %}
                <a href="#">{{exam.exam}}</a><br><hr>
              {% endfor %}
          </fieldset>
          
        </div>
      </div>
    </div>
 
</div>
    
{% include "footer.html" %}