{% include 'header.html' %}
	<div class="row">
		<div class="col-lg-8">
			<h1 class="title" style="text-align:center;">Kerala PSC </h1>
			<p style="line-height:25px;" align="justify">            
	      The Kerala Public Service Commission is a body created by the Constitution of India. The Commission advise the Government on all matters relating to civil services referred to it under Article 320 (3) of the Constitution and publish notifications inviting applications for selection to various posts as per the requisitions of the appointing authorities, conduct written test and/or practical tests, physical efficiency test and interview, prepare ranked list based on the performance of the candidates and advise candidates for appointment strictly based on their merit and observing the rules of reservation as and when vacancies are reported.

				The Head Office of the Kerala Public Service Commission is situated at Pattom, Thiruvananthapuram, the State Capital.
			</p>
		</div>
		<div class="col-lg-4" style="margin-top:40px;">
	    {% include "free_signup.html" %}
	  </div>
	</div>
{% include 'footer.html' %}