
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PSC Exams</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/bootstrap.css" media="screen">
    <script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>
    <script type="text/javascript" src="http://www.technicalkeeda.com/js/javascripts/plugin/jquery.js"></script>
    <script type="text/javascript" src="http://www.technicalkeeda.com/js/javascripts/plugin/jquery.validate.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/cdn.smartworld/js/cycleall/jquery.cycle.all.min.js"></script>
    
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47708779-1', 'pscexams.com');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
$(document).ready(function(){
    $('#slideshow').cycle({
        fx:     'fade',
        speed:  'slow',
        timeout: 3000,
        pager:  '#slider_nav',
        pagerAnchorBuilder: function(idx, slide) {
            // return sel string for existing anchor
            return '#slider_nav li:eq(' + (idx) + ') a';
        }
    });
});
</script>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="navbar navbar-inverse">
          <div class="navbar-header">
            <strong><a class="navbar-brand" href="/">PSC Exams</a></strong>
          </div>
          <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav navbar-center">
              <li><a href="/">Home</a></li>
              <li><a href="/about/">About</a></li>
              <li><a target="_blank" href="https://smartindia.net.in">Smartindia</a></li>
              <li><a target="_blank" href="http://www.keralapsc.org/">Kerala PSC</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Exams <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% for exam in exams %}
                    <li><a href="#">{{exam.exam}}</a></li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
            <nav>
              <ul>
                 <li id="signup"><button onclick="location.href='/registration/'" class="btn btn-success">Sign up</button>
                </li>
                <li id="login">
                  <button id="login-trigger" href="#" class="btn btn-warning">Sign in <span>▼</span></button>
                  <div id="login-content">
                    <form action="/login/" method="post"> {% csrf_token %}
                      <fieldset id="inputs">
                        <input id="username" type="text" name="username" placeholder="Username" required>   
                        <input id="password" type="password" name="password" placeholder="Password" required>
                      </fieldset>
                      <fieldset id="actions">
                        <input type="submit" id="submit" value="Log in">
                        <label><input type="checkbox" checked="checked"> Keep me signed in</label>
                      </fieldset>
                    </form>
                  </div>                     
                </li>  
              </ul>
            </nav>  
          </div>  
          </div>  

<script type='text/javascript'> 
  function validate()
    {
      $("#name_message").html("");
      $("#username_message").html("");
      $("#password_message").html("");
      $("#conpassword_message").html("");
      $("#email_message").html("");
      $("#mobile_message").html("");
      $("#state_message").html("");
      $("#warn_message").html("");
      if( document.form.name.value == '' && document.form.username.value == '' &&  document.form.password.value == ''&&document.form.password.value == ''&& document.form.email.value == '' ){
          $("#warn_message").css('color','red');
          $("#warn_message").html("Must fill required feilds");
          return false;    
      }else{

        if( document.form.name.value == '' )
        {
          $("#name_message").css('color','red');
          $("#name_message").html("Name is required");
          return false;
        }
        
        if( document.form.username.value == '' )
        {
          $("#username_message").css('color','red');
          $("#username_message").html("Username is required");
          return false;
        }
        var password=document.form.password.value ;
        if( password == ''|| password.length < 8)
        {
          $("#password_message").css('color','red');
          $("#password_message").html("Password is required");
          return false;
        }
        var conpassword=document.form.conpassword.value;
        if((conpassword == '') || (password!=conpassword))
        {
          $("#conpassword_message").css('color','red');
          $("#conpassword_message").html("Confirm Password Not Matches");        
          return false;          
        }
        if( document.form.email.value == '' )
        {
          $("#email_message").css('color','red');
          $("#email_message").html("EmailID is required");
          return false;
        }
        else{
          var emailID = document.form.email.value;
          atpos = emailID.indexOf("@");
          dotpos = emailID.lastIndexOf(".");
          if (atpos < 1 || ( dotpos - atpos < 2 )) 
          {
            $("#email_message").css('color','red');
            $("#email_message").html("Enter correct EmailID");
            return false;
          }
        }
        if( document.form.mobile.value.length < 10 )
        {          
          $("#mobile_message").css('color','red');
          $("#mobile_message").html("Enter the valid Mobile Number");
          document.form.mobile.focus();
          return false;
        }
        if( document.form.state.value == '' )
        {
          $("#state_message").css('color','red');
          $("#state_message").html("Select State");
          return false;
        }

      }     
      return true;
    }
  </script>

  <form method='POST' class="bs-example form-horizontal" name="form" id="regform" action="/registration/" onSubmit="return validate()"> 
    <div class="well">       
      <h3><b>Sign up Now!</b></h3><br>
      <div id ="warn_message"></div>
      {%if success%}
       <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button><strong>Successfully registered.... </strong></p>
        </div>
      {%endif%}
      {%if reg_error%}
       <div class="row">          
          <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
           <strong>This username already exist.</strong>
          </div>
        </div>
      {%endif%}
      <table>
        <tr>
          <td style="width:100px;">
            <label>Name:</label>
            <span class="form-required" > *</span>
          </td>
          <td>
            <input type='textbox' name='name' class='name validatefield' placeholder='Name' style="width:200px;">
            <p id="name_message"></p>
          </td>
            
        </tr>            
        <tr>
          <td>
            <label>Username:</label><span class="form-required" > *</span>
          </td>       
          <td>
            <input type='textbox' name='username' class='username validatefield' placeholder='Username' style="width:200px;">
            <p id="username_message"></p>
          </td>
          
        </tr>
        <tr>
          <td>
            <label>Password:</label><span class="form-required" > *</span>
          </td>      
          <td>
            <input type="password" name="password" id="password" placeholder='Password' style="width:200px;">
            <p id="password_message"></p>
          </td>
          
        </tr>

        <tr>
          <td>
            <label>Confirm Passord:</label><span class="form-required" > *</span>
          </td>
          <td>
            <input type='password' name='conpassword' id='conpassword' placeholder='Confirm Password' style="width:200px;">
            <p id="conpassword_message"></p>
          </td>
          
        </tr>
        <tr>
          <td>
            <label>Email Id:</label><span class="form-required" > *</span>
          </td>
          <td>
            <input type='textbox' name='email' class='email validatefield' placeholder='Email Id' style="width:200px;">
            <p id="email_message"></p>
          </td>
          
        </tr>              
        <tr>
          <td>
            <label>Mobile No:</label><span class="form-required" > *</span>
          </td>
          <td>
            <input type='textbox' name='mobile' class='mobile validatefield' placeholder='Mobile number' style="width:200px;">
            <p id="mobile_message"></p>
          </td>
          
        </tr>            
        <tr>
          <td>
            <label>Exam:</label><span class="form-required" > *</span>
          </td>
          <td>
            <select id="state"  class="form-control" name="state"  style="width:200px;">
              <option>Select Exam</option>
                {% for state in states %}
                    <option value="{{state.id}}">{{state.state}}</option> 
                {% endfor %}
            </select>
            <p id="state_message"></p>
          </td>
          
        </tr>            
        <tr>
          <td>
            <br><br><input type="submit" value="Register" id="btn"  class="btn btn-primary" />
          </td>&nbsp;
          <td>
            <br><br><input type="reset" value="Cancel" id="btn" class="btn btn-default"/>
          </td>
        </tr>
      </table>
    </div>
  </form>
<br> 
 <footer>
       <div class="row">
         <div class="well" style="background-color: #008cba;" id="footer">
          <fieldset>
            <div class="col-lg-12">
              <ul class="nav navbar-nav navbar-center">
                <li ><a href="/" style="color:white;">Home</a></li>
                <li><a href="/about/" style="color:white;">About</a></li>
                <li><a target="_blank" href="https://smartindia.net.in" style="color:white;">Smartindia</a></li>
                <li><a href="/keralapsc/" style="color:white;">Kerala PSC</a></li>
                <li><a href="#" style="color:white;">Exams</a></li> 
              </ul>  
              <ul class="list-unstyled"> 
                <li class="pull-right"><a href="#top" style="color:white;">Back to top</a></li>
              </ul>
            </div>
          </fieldset>
        </div>
      </div>       
    </footer>
    
    </div>


    
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootswatch.js"></script>
    <script src="/static/js/login.js"></script>

    <script>
      $(document).ready(function() {
        {% if form %}
          goToByScroll('freeRegister');
          $('#state').val('{{form.state.value}}').attr('selected',true);
        {% endif %}  
      });
      function goToByScroll(id){
          $('html,body,div').animate({scrollTop: $("#"+id).offset().top}, 'slow');
      }
    </script>

    
  </body>
</html>
 