{% extends 'base.html' %}

{% block content %}
	<div class="col-md-12">
		<br>
		<h3><strong class="text-info">{{subject.subject}}</strong></h3>		
		<ol class="breadcrumb">
		  <li><a href="/home/">Kerala PSC</a></li>
		  <li><a href="/student/exam/{{subject.exam.pk}}/">{{subject.exam.exam}}</a></li>
		  <li>{{subject.subject}}</li>
		</ol>
		<div class="panel-group col-md-12" id="accordion">
			{% for topic in subject.topic_set.all %}
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#{{topic.pk}}" style="text-decoration:none;">
			          <h4></strong>{{topic.topic}}</strong></h4>
			        </a>
			      </h4>
			    </div>
			    <div id="{{topic.pk}}" class="panel-collapse collapse {% if topic.pk == topic_id %}in{% endif %}">
			      <div class="panel-body">
			      	{% autoescape off %}
				        {% for subtopic in topic.subtopic_set.all %}
				        	<h5><strong class="text-muted"><a href="/student/exam/topic/tests/{{subtopic.pk}}/">{{subtopic.sub_topic}}</a></strong></h5>
				        	<p align="justify">
				        		{{subtopic.descripition}}
				        	</p>
				        {% empty %}
				        	<div class="alert alert-info"><strong>We are updating data...</strong></div>
				        {% endfor %}
			        {% endautoescape %}
			      </div>
			    </div>
			  </div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block right_content %}
	<div class="col-md-12">
		<br>
		<div class="panel panel-success">
    	<div class="panel-heading">
        <h3 class="panel-title"><img src="/static/images/modelexam_icon.png" width="50x;" heigh="45px;" alt=""> <strong>Related Subjects</strong></h3>
      </div>
      <div class="panel-body">
      	{% for subject in subject.exam.subject_set.all %}
					<a href="/student/exam/subject/{{subject.pk}}/">{{subject.subject}}</a><br>
				{% endfor %}
      </div>
	  </div>

	  <div class="panel panel-success">
    	<div class="panel-heading">
        <h3 class="panel-title"><img src="/static/images/news_psc.png" width="50x;" heigh="45px;" alt=""><strong>Latest News</strong></h3>
      </div>
      <div class="panel-body">
        <a href="http://www.keralapsc.gov.in/index.php?option=com_content&view=article&id=3328:notification-2014&catid=1:general" target="_blank">Notifications in kpsc</a>
		  	<br>
		  	<a href="http://www.keralapsc.gov.in/index.php?option=com_content&view=article&id=3244:short-list-2014&catid=103:shortlist" target="_blank">Shortlists in recent exams</a>
		  	<br>
		  	<a href="http://www.keralapsc.gov.in/index.php?option=com_content&view=article&id=3243:rank-list-2014&catid=102:ranklist" target="_blank">Ranklists in recent exams</a>
      </div>
    </div>

    <div class="panel panel-success">
    	<div class="panel-heading">
        <h3 class="panel-title"><img src="/static/images/read.png" width="50x;" heigh="45px;" alt=""><strong>Available Exams</strong></h3>
      </div>
      <div class="panel-body">
        {% for exam in subject.exam.state.exam_set.all %}
					<a href="/student/exam/{{exam.pk}}/">{{exam.exam}}</a><br>
				{% endfor %}
      </div>
    </div>
	</div>   
{% endblock %}


{% block custom_js %}
	<script>
		goToByScroll('{{topic_id}}');
	</script>
{% endblock %}