{% extends 'base.html' %}

{% block content %}
	<div class="col-md-12">
			<h3><strong class="text-muted">Kerala PSC Exams</strong></h3>
			<hr>
		{% for exam in exams %}
			<div class="col-md-6">
				<a href="/student/exam/{{exam.pk}}/"><h4><img src="{{exam.image}}"> <strong class="text-info">{{exam.exam}}</strong></h4></a>
				<p class="text-muted"><strong>{{exam.get_exam_description}}</strong></p>
			</div>
		{% endfor %}
	</div>	
{% endblock %}

{% block right_content %}
	<div class="col-md-12">
	  <h4><img src="/static/images/new-icon.png"><strong class="text-info"> Whats New?</strong></h4 >
	 	<a href="">LDC Model Exams</a> <label class="label label-success">2</label><br>
	   	<a href="">Tests in Last Grade</a> <label class="label label-warning">5</label>
	  <hr>
	</div>
	<div class="col-md-12">
	  <h4><img src="/static/images/news_psc.png" width="50x;" heigh="45px;"><strong class="text-info"> Latest News</strong></h4 >
	  	<a href="">Notifications in kpsc</a>
	  	<br>
	  	<a href="">Shortlists in recent exams</a>
	  	<br>
	  	<a href="">Marklists in recent exams</a>
	  <hr>
	</div>
	<div class="col-md-12">
	  <h4><img src="/static/images/Performance-icon.png" width="50x;" heigh="45px;"><strong class="text-info">My Performance</strong></h4>
	  	{% for exam in exams %}
	  		<a href="">{{exam.exam}}</a>
	  	{% endfor %}			
	  <hr>
	</div>
	          
	<div class="col-md-12">
	  <h4><img src="/static/images/activity-icon.png" width="50x;" heigh="45px;"> <strong class="text-info">Recent Activities</strong></h4>
	  <h5 class="text-muted"><strong> Last login : 2 Days ago</strong></h5>
	  <hr>
	</div>
{% endblock %}

