{% extends 'base.html' %}

{% block content %}
	<div class="col-md-12">
		<div class="jumbotron">
			Welcome {{user.user.first_name}}
		</div>
		<div class="col-lg-12">
			{% if questions %}
			<form action="/student/exam/submit/" method="POST">
			<table class="col-md-10"> 
          {% for question in questions %}     
          <tr>
              <td><div><span class="question_labels">
              <fieldset><legend>Question-{{forloop.counter}}&nbsp;</span></legend><h4>{{question.question}}</h4></div></fieldset>
              <table class="table table-bordered table-hover">
                  <tr>
                      <td>
                      <div style="font-size:15px;margin-left:50px;margin-top:10px;" id="option_{{forloop.counter}}_1;">(A)&nbsp;<input type="radio" name="answer_{{forloop.counter}}" value="1" id="answer_{{forloop.counter}}_1" onClick="optionSelected('{{forloop.counter}}','1','2','3','4');">&nbsp;<label for="answer_{{forloop.counter}}_1">{{question.option1}}</label></div>
                      </td>
                      <td>
                      <div style="font-size:15px;margin-left:50px;margin-top:10px;" id="option_{{forloop.counter}}_2">(B)&nbsp;<input type="radio" name="answer_{{forloop.counter}}" value="2" id="answer_{{forloop.counter}}_2" idonClick="optionSelected('{{forloop.counter}}','2','1','3','4');">&nbsp;<label for="answer_{{forloop.counter}}_2">{{question.option2}}</label></div>
                      </td>
                  </tr>
                  <tr>
                      <td><div style="font-size:15px;margin-left:50px;margin-top:10px;" id="option_{{forloop.counter}}_3">(C)&nbsp;<input type="radio" name="answer_{{forloop.counter}}" id="answer_{{forloop.counter}}_3" value="3" onClick="optionSelected('{{forloop.counter}}','3','1','2','4');">&nbsp;<label for="answer_{{forloop.counter}}_3">{{question.option3}}</label></div>
                      </td>
                      <td ><div style="font-size:15px;margin-left:50px;margin-top:10px;" id="option_{{forloop.counter}}_4">(D)&nbsp;<input type="radio" name="answer_{{forloop.counter}}" id="answer_{{forloop.counter}}_4" value="4" onClick="optionSelected('{{forloop.counter}}','4','1','2','3');">&nbsp;<label for="answer_{{forloop.counter}}_4">{{question.option4}}</label></div>
                      </td>
                  </tr>
              </table>        
              </td>
          </fieldset>
          </tr>
          {% endfor %}    
          <tr>
          	<td>
          		<div style="text-align:center;">
              	<input type="hidden" name="max_questions" value="{{questions.count}}">
              	<input type="submit" class="btn btn-success btn-lg" value="Finish Test" />
              </div>
            </td>
          </tr>
      </table>
    	</form>
      {% else %}
      <div class="alert alert-info">
      	We are updating questions.
      </div>
      {% endif %}
   	</div>
	</div>	
{% endblock %}