{% extends 'base.html' %}

{% block content %}

	<div class="col-lg-12">
		<div class="col-lg-12">

			<h4 class="text-info"><strong>Answersheets Related on {{sub_topic_name.sub_topic}}<strong></h4>
			<br>
			{% for answersheet in related_exams %}
				<a href="/student/answersheet/{{answersheet.test.id}}/?sub_topic={{answersheet.sub_topic.id}}">
					<div class="col-md-3">
						<div class="panel panel-default">
			     			<div class="panel-body">
			       				<center><h4><strong class="text-success">Practice Test {{forloop.counter}}</strong></h4>
			      			</div>
			    		</div>
					</div>
				</a>
			{% empty %}
				<div class="alert alert-info">
					<strong>You haven't attented any of the tests yet!!!</strong>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
