{% extends 'base.html' %}

{% block content %}
	<div class="col-md-12">
		<h3><strong class="text-muted">{{exam.exam}}</strong></h3>
		<ol class="breadcrumb">
		  <li><a href="/home/">Kerala PSC</a></li>
		  <li>{{exam.exam}}</li>
		</ol>
		<div class="col-md-12">
			{% for subject in exam.subject_set.all %}
				<div class="col-md-12">
					<div class="col-md-2">
						<img src="{{subject.get_subject_image}}"> 
					</div>
					<div class="col-md-10">
						<a href="/student/exam/subject/{{subject.pk}}/"><h4><strong class="text-info">{{subject.subject}}</strong></h4></a>
						<p>{{subject.get_subject_description}}</p>
						<hr>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>	
{% endblock %}

{% block right_content %}
<br>
<br>
<div class="col-md-12"><br>
	<div class="panel panel-success">
    	<div class="panel-heading">
        	<h3 class="panel-title"><img src="/static/images/modelexam_icon.png" width="50x;" heigh="45px;" alt=""> <strong>Model Exams</strong></h3>
        </div>
        <div class="panel-body">
        	<a href="">Model Exam1</a><br>
			<a href="">Model Exam1</a><br>
			<a href="">Model Exam1</a>
        </div>
    </div>
	<div class="panel panel-success">
    	<div class="panel-heading">
        	<h3 class="panel-title"><img src="/static/images/previous_icon.png" width="50x;" heigh="45px;" alt=""> <strong>Previous Year Questions</strong></h3>
        </div>
        <div class="panel-body">
        	<a href="">2012</a><br>
			<a href="">2010</a><br>
			<a href="">2009</a>
        </div>
    </div>
    <div class="panel panel-success">
    	<div class="panel-heading">
        	<h3 class="panel-title"><img src="/static/images/tests-icon.png" alt=""> <strong>Related Exams</strong></h3>
        </div>
        <div class="panel-body">
        	{% for exam in exam.state.exam_set.all %}
				<a href="/student/exam/{{exam.pk}}/">{{exam.exam}}</a>
			{% endfor %}
        </div>
    </div>
</div>   
{% endblock %}

