{% extends 'base.html' %}

{% block content %}
	<div class="col-md-12">
		<h3><strong class="text-muted">{{exam.exam}}</strong></h3>
		<ol class="breadcrumb">
		  <li><a href="/home/">Kerala PSC</a></li>
		  <li><a href="#">{{exam.exam}}</a></li>
		</ol>
		<div class="col-md-12">
			{% if previous_exams %}
			<table class="table table-bordered ">
				{% for previous_exam in previous_exams %}
				<tr>
					<td><h5><strong>{{previous_exam.name}}</strong></h5></label></td>
					<td><h5><strong><a href="{{previous_exam.question_url}}" target="_blank">Question Paper <img src="/static/images/Adobe-PDF-Document-icon.png"></a></strong></h5></td>
					<td><h5><strong><a href="{{previous_exam.answer_url}}" target="_blank">Answer Key <img src="/static/images/Adobe-PDF-Document-icon.png"></a></strong></h5></td>
				</tr>
				{% endfor %}	
			</table>
			{% else %}
				<br><br><br>
				<h4><strong class="text-muted">{{exam.exam}} course will starts soon!!!</strong></h4>
			{% endif %}		
		</div>
	</div>	
{% endblock %}

{% block right_content %}
<div class="col-md-12"><br>
	<div class="panel panel-success">
    	<div class="panel-heading">
        	<h3 class="panel-title"><img src="/static/images/modelexam_icon.png" width="50x;" heigh="45px;" alt=""> <strong>Practice Tests</strong></h3>
        </div>
        <div class="panel-body">
        	{% for subject in exam.subject_set.all %}
	        	<a href="/student/exam/subject/{{subject.pk}}/">{{subject.subject}}</a><br>
			{% endfor %}
        </div>
    </div>
	<div class="panel panel-success">
    	<div class="panel-heading">
        	<h3 class="panel-title"><img src="/static/images/previous_icon.png" width="50x;" heigh="45px;" alt=""> <strong>Previous Year Questions</strong></h3>
        </div>
        <div class="panel-body">
        	<a href="">2012</a><br>
			<a href="">2010</a><br>
			<a href="">2009</a>
        </div>
    </div>
    <div class="panel panel-success">
    	<div class="panel-heading">
        	<h3 class="panel-title"><img src="/static/images/tests-icon.png" alt=""> <strong>Related Exams</strong></h3>
        </div>
        <div class="panel-body">
        	{% for exam in exam.state.exam_set.all %}
				<a href="/student/previousyearexam/download/{{exam.pk}}/">{{exam.exam}}</a>
			{% endfor %}
        </div>
    </div>
</div>   
{% endblock %}

