{% extends 'base.html' %}

{% block left_content %}
	<div class="col-md-12">
	  <h5><img src="/static/images/new-icon.png"><strong class="text-muted"> Whats New?</strong></h5>
	  <ul>
	    <li class="text-muted list-unstyled">MCQs Added for LGS EXAM</li>
	    <li class="text-muted list-unstyled">MCQs Added for LGS EXAM</li>
	  </ul>
	  <hr>
	</div>

	<div class="col-md-12">
	  <h5><img src="/static/images/bar-chart-icon.png" ><strong class="text-muted">My Rank</strong></h5>
	  <ul>
	    <li class="text-muted list-unstyled">LGS - 9/25</li>
	    <li class="text-muted list-unstyled">LGS - 9/25</li>
	  </ul>
	  <hr>
	</div>
	          
	<div class="col-md-12">
	  <h5><img src="/static/images/activity.png"> <strong class="text-muted">Recent Activities</strong></h5>
	  <li class="text-muted">Attended LD Exam</li>
	  <li class="text-muted">Attended LD Exam</li>
	  <li class="text-muted">Attended LD Exam</li>
	  <hr>
	</div>
{% endblock %}

{% block content %}
	<div class="col-md-12">
			<h4><strong class="text-muted">Kerala PSC Exams</strong></h4>
			<hr>
		{% for exam in exams %}
			<div class="col-md-4">
				<a href="/student/exam/{{exam.pk}}/"><h5><img src="/static/images/test.png"> <strong class="text-muted">{{exam.exam}}</strong></h4></a>
				<p class="text-muted">dshkj hdkjhd sjkf hd kjd sfh sd hfhsdjfhdsjf k dfj jsd fjhd s fkjds jf sjdf hjksd fjskdfhkdsh kjfdsjkfdh kfj ds f dsfsdh f </p>
			</div>
		{% endfor %}
	</div>	
{% endblock %}