{% extends 'base.html' %}

{% block content %}
	<div class="col-md-12">
		<h3><strong class="text-info">{{sub_topic.sub_topic}}</strong></h3>
		<ol class="breadcrumb">
		  <li><a href="/home/">Kerala PSC</a></li>
		  <li><a href="/student/exam/{{sub_topic.exam.pk}}/">{{sub_topic.exam.exam}}</a></li>
		  <li><a href="/student/exam/subject/{{sub_topic.subject.pk}}/">{{sub_topic.subject.subject}}</a></li>
		  <li><a href="/student/exam/subject/{{sub_topic.subject.pk}}/?topic={{sub_topic.topic.pk}}">{{sub_topic.topic.topic}}</a></li>
		  <li>{{sub_topic.sub_topic}}</li>
		</ol>
		{% if locked %}
			<div class="alert alert-warning">
				<strong>You have to finish Test {{test}} with all right answers to unlock the remaining tests!.</strong>
			</div>
		{% endif %}
		{% for test in tests %}
		<a href="/student/exam/topic/{{sub_topic.pk}}/{{test}}/">
		<div class="col-md-4">
			<div class="panel panel-default">
             	<div class="panel-body">
               		<center><h4><strong class="text-success">Test {{test}}</strong></h4>
               		<button type="button" class="btn btn-success"><img src="/static/images/lock-icon.png" width="50px;" height="40px;">Unlock</button></center>
              	</div>
            </div>
		</div>
	</a>
		{% empty %}
			<div class="alert alert-info">
				<strong>We are updating tests.....</strong>
			</div>
		{% endfor %}
	</div>	
{% endblock %}

{% block right_content %}
<div class="col-md-12">
	<br>
	<div class="panel panel-success">
    	<div class="panel-heading">
        	<h3 class="panel-title"><img src="/static/images/read_and_learn_icon.png" width="50x;" heigh="45px;" alt=""> <strong>Read & Learn</strong></h3>
        </div>
        <div class="panel-body">
			<a href="/student/onewords/{{sub_topic.topic.pk}}/?sub_topic={{sub_topic.pk}}">{{sub_topic.sub_topic}}</a></br>
		</div>
    </div>
    <div class="panel panel-success">
    	<div class="panel-heading">
        	<h3 class="panel-title"><img src="/static/images/tricks.png" width="50x;" heigh="45px;" alt=""> <strong>Tips & Tricks</strong></h3>
        </div>
        <div class="panel-body">
			<a href="/student/tips/topics/{{sub_topic.topic.pk}}/?sub_topic={{sub_topic.pk}}">{{sub_topic.sub_topic}}</a></br>
		</div>
    </div>
    <div class="panel panel-success">
    	<div class="panel-heading">
        	<h3 class="panel-title"><img src="/static/images/binary-tree-icon.png" width="50x;" heigh="45px;" alt=""> <strong>Related Topics</strong></h3>
        </div>
        <div class="panel-body">
        	{% for topic in sub_topic.topic.subject.topic_set.all %}
				<a href="/student/exam/subject/{{topic.subject.pk}}/?topic={{topic.pk}}">{{topic.topic}}</a></br>
			{% endfor %}
        </div>
    </div>
    <div class="panel panel-success">
    	<div class="panel-heading">
        	<h3 class="panel-title"><img src="/static/images/MetroUI-Other-Task-icon.png" width="50x;" heigh="45px;" alt=""> <strong>Recent Answer Sheets</strong></h3>
        </div>
        <div class="panel-body">
        	{% for mocktest_datum in mocktest_data %}
				<a href="/student/answersheet/{{mocktest_datum.mock_test.pk}}/">{{mocktest_datum.mock_test.test_date}}</a><br>
			{% endfor %}
        </div>
    </div>
  <hr>
</div>   
{% endblock %}

