{% include "admin_header.html" %}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
  function state_changed(option)
  {
      if (option == 0)
      {
          return;
      }
      $.ajax({
          type    : 'GET',
          url     : '/state/ajax/exam/',
          cache   : false,
          data    : "state=" + option,
          success : function(data,textStatus)
          {
              $("#exam").html(data);
          },
          error   : function(data,textStatus){alert("Error connecting to Siresources Servers. Please check your internet connection and try again.");}
      });
  }
  
</script>
<div class="row">
	<div class="col-lg-8">
	  <div class="well">
	    <form class="bs-example form-horizontal" action="/siteadmin/add/subject/" method="POST">
	      <fieldset>
	        <legend>Add Subject</legend>

	        {% if saved %}
		        <div class="alert alert-dismissable alert-success">
		          <button type="button" class="close" data-dismiss="alert">&times;</button>
		          <strong>Subject was saved successfully.</strong> 
		        </div>
      		{% endif %}

      		{% if save_error %}
		        <div class="alert alert-dismissable alert-danger">
		          <button type="button" class="close" data-dismiss="alert">&times;</button>
		          <strong>Error in saving data.</strong> 
		        </div>
		      {% endif %}

		      {% if form_error %}
		        <div class="alert alert-dismissable alert-danger">
		          <button type="button" class="close" data-dismiss="alert">&times;</button>
		          <strong>You must fill all fields. Image URL is not mandatory.</strong> 
		        </div>
		      {% endif %}

	        <div class="form-group">
            <label for="state" class="col-lg-2 control-label">State</label>
            <div class="col-lg-9">
              <select name="state" id="state" class="form-control" onChange="state_changed(this.value)">
              	<option value="0">Select Exam State</option>
                {% for state in states %}
                <option value="{{state.pk}}">{{state.state}}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="exam" class="col-lg-2 control-label">Exam</label>
            <div class="col-lg-9">
            	<select name="exam" id="exam" class="form-control">
              	<option value="0">Select Exam</option>
              </select>
            </div>
          </div>

         	<div class="form-group">
            <label for="subject" class="col-lg-2 control-label">Subject</label>
            <div class="col-lg-9">
            	<input type="text" class="form-control" name="subject" id="subject">
          	</div>
          </div>
          <br>
        	<div class="form-group">
	        	<div class="col-lg-10 col-lg-offset-2">
	            <button type="submit" class="btn btn-primary">Submit</button> 
	        	</div>
      		</div>

        </fieldset>
	    </form>
	  </div>
	</div>
</div>

{% include "admin_footer.html" %}