<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PSC Exams</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/bootstrap.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'> 
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47708779-1', 'pscexams.com');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
          <div class="navbar navbar-inverse">
            <div class="navbar-header">
              <strong><a class="navbar-brand" href="#">PSC Exams</a></strong>
            </div>
            <div class="navbar-collapse collapse navbar-inverse-collapse">
              <ul class="nav navbar-nav navbar-center">
                <li><a href="/home/">Home</a></li>

                <!--<li><a href="/siteadmin/users/">Users</a></li>-->
                <li class="dropdown">
                  <a href="/siteadmin/add/exam/" class="dropdown-toggle" data-toggle="dropdown">Exam Details<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/siteadmin/add/exam/">Add Exam</a></li>
                    <li><a href="/siteadmin/add/subject/">Add Subject</a></li>
                    <li><a href="/siteadmin/add/topic/">Add Topic</a></li>
                    <li><a href="/siteadmin/add/subtopic/">Add Sub topic</a></li>
                  </ul>
                </li>
                <li><a href="/siteadmin/upload/modelexam/question/">Model Exam</a></li>
                <li><a href="/siteadmin/upload/previousyear/question/">Previous Questions</a></li>
                <li><a href="/siteadmin/add/currentaffairs/topic/">Current Affairs Topic</a></li>
                <!--<li><a href="/siteadmin/add/center/">Center</a></li> -->

                <li class="dropdown">
                  <a href="/siteadmin/add/center/" class="dropdown-toggle" data-toggle="dropdown">Centers<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/siteadmin/add/center/">Add Center</a></li>
                    <li><a href="/siteadmin/list/center/">List Centers</a></li>
                  </ul>
                </li>

                <!--<li class="dropdown">
                  <a href="/siteadmin/add/exam/" class="dropdown-toggle" data-toggle="dropdown">Current Affairs Details<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Add Language</a></li>
                    <li><a href="#">Add Topic</a></li>
                  </ul>
                </li>-->
                <!--<li class="dropdown">
                  <a href="/siteadmin/add/exam/" class="dropdown-toggle" data-toggle="dropdown">Add Exam Details<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/siteadmin/add/exam/">Exam</a></li>
                    <li><a href="#">Subject</a></li>
                    <li><a href="#">Topic</a></li>
                    <li><a href="#">Sub Topic</a></li> -->
                </ul>
                </li>

              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a> Welcome &nbsp; {{user.first_name}}</a></li>
                <li><a href="#"> My Account</a></li>
                <li><a href="/logout/"> Sign Out</a></li>
              </ul>
            </div>
          </div>
        </div>