{% include "admin_header.html" %}
<div style="text-align:center;margin-top:50px;">
    <h4>
        <b>Welcome to the world of pscexams</b>
    </h4>
</div>
<div class="row">
  <div class="col-lg-12">        
      <div class="row">
            <div class="col-lg-1">
              <img src="/static/images/users.gif" style="width:75px;height:75px;">
            </div>
            <p><strong><h4 class="text-info">Users</h4></strong></p>
          </div>
        <p class="text-muted"> include write up for users</p>
        <hr>
        </div></div>



{% include "admin_footer.html" %}

