{% include "admin_header.html" %}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

<div class="row">
  <div class="col-lg-4">
    <div class="well">
      <form class="bs-example form-horizontal" action="/siteadmin/upload/modelexam/question/" method="POST" enctype="multipart/form-data">
        <fieldset>
          <legend>Add Model Exam Question</legend>

          {% if saved %}
            <div class="alert alert-dismissable alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Model Exam Question was saved successfully.</strong> 
            </div>
          {% endif %}

          {% if save_error %}
            <div class="alert alert-dismissable alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Error in saving data.</strong> 
            </div>
          {% endif %}

          {% if form_error %}
            <div class="alert alert-dismissable alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>You must fill all fields.</strong> 
            </div>
          {% endif %}

          <div class="form-group">
            <label for="model_exam" class="col-lg-2 control-label">Model Exam</label>
            <div class="col-lg-8">
              <select name="model_exam" id="model_exam" class="form-control">
                <option value="0">Select Model Exam</option>
                {% for modelexam in modelexams %}
                <option value="{{modelexam.pk}}">{{modelexam.title}}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="question_url" class="col-lg-2 control-label">Question</label>
            <div class="col-lg-8">
              <input type="file" name="question_url">
            </div>
          </div>

          <div class="form-group">
            <label for="answer_url" class="col-lg-2 control-label">Answer</label>
            <div class="col-lg-8">
              <input type="file" name="answer_url">
            </div>
          </div>

          <br>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="submit" class="btn btn-primary">Submit</button> 
            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>
</div>

{% include "admin_footer.html" %}